@import "https://fonts.google.com/specimen/Muli";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif; }

html {
  scroll-behavior: smooth; }

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden; }

button {
  cursor: pointer; }

input, button, textarea {
  background: none;
  border: none;
  outline: none;
  resize: none; }
  input[type="number"]::-webkit-inner-spin-button, button[type="number"]::-webkit-inner-spin-button, textarea[type="number"]::-webkit-inner-spin-button {
    display: none; }

li {
  list-style: none; }

a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none; }

body {
  -webkit-animation: show .3s 1 ease;
  animation: show .3s 1 ease; }

@-webkit-keyframes show {
  from {
    opacity: 0.4; } }

@keyframes show {
  from {
    opacity: 0.4; } }

body::-webkit-scrollbar {
  background: #f0f0f0;
  width: 8px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  /*@include responsive($width-mobile){
      display: none;
    }*/ }
  body::-webkit-scrollbar:hover {
    background: white; }

body::-webkit-scrollbar-thumb {
  background: #de0d6b;
  border-radius: 5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

body::-webkit-scrollbar-thumb:vertical:hover {
  background: #e63c5a; }

.app-title {
  width: 100%;
  padding: 1.3em 1em;
  position: relative;
  background: #fff;
  border-bottom: 1px solid #e6e6e6; }
  .app-title .title {
    font-size: 2.5em;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#de0d6b), color-stop(#de0d6b), to(#831cf6));
    background: -webkit-linear-gradient(top, #de0d6b, #de0d6b, #831cf6);
    background: -o-linear-gradient(top, #de0d6b, #de0d6b, #831cf6);
    background: linear-gradient(top, #de0d6b, #de0d6b, #831cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .app-title .logo {
    position: absolute;
    z-index: 100;
    top: 35%; }
    .app-title .logo .img-logo {
      width: 125px;
      height: auto; }

.app-menu {
  width: 100%;
  position: relative;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .app-menu.animate {
    top: -100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.app-menu > .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .app-menu > .list .option {
    position: relative; }
    .app-menu > .list .option:hover > .sub-list {
      visibility: visible;
      opacity: 1;
      left: 0; }
  .app-menu > .list .option > .sub-list {
    position: absolute;
    border: 1px solid #e6e6e6;
    border-bottom: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    visibility: hidden;
    opacity: 0;
    left: -15px;
    z-index: 10; }
  .app-menu > .list .option .link {
    background: #fff;
    line-height: 2.5em;
    padding: 0 1em;
    font-size: 1.1em;
    color: gray; }
    .app-menu > .list .option .link:hover {
      color: #de0d6b;
      background: #e6e6e6; }
    .app-menu > .list .option .link.sub {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      border-bottom: 1px solid #e6e6e6; }

.btn-global {
  padding: 0 .8em;
  line-height: 2.5em;
  background: #de0d6b;
  color: #fff;
  font-size: 1.1em;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .btn-global.minun {
    font-size: 0.8em; }
  .btn-global:hover {
    border-radius: 1.5em;
    background: #c60c5f; }
  .btn-global:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95); }

.panel-contact .message {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(230, 60, 90, 0.8))), url("https://previews.123rf.com/images/racorn/racorn1508/racorn150800020/43162631-cheerful-young-office-woman-sitting-at-her-desk-with-laptop-computer-smiling-at-the-camera-.jpg") no-repeat top center/cover;
  background: -webkit-linear-gradient(rgba(230, 60, 90, 0.8)), url("https://previews.123rf.com/images/racorn/racorn1508/racorn150800020/43162631-cheerful-young-office-woman-sitting-at-her-desk-with-laptop-computer-smiling-at-the-camera-.jpg") no-repeat top center/cover;
  background: -o-linear-gradient(rgba(230, 60, 90, 0.8)), url("https://previews.123rf.com/images/racorn/racorn1508/racorn150800020/43162631-cheerful-young-office-woman-sitting-at-her-desk-with-laptop-computer-smiling-at-the-camera-.jpg") no-repeat top center/cover;
  background: linear-gradient(rgba(230, 60, 90, 0.8)), url("https://previews.123rf.com/images/racorn/racorn1508/racorn150800020/43162631-cheerful-young-office-woman-sitting-at-her-desk-with-laptop-computer-smiling-at-the-camera-.jpg") no-repeat top center/cover;
  background-attachment: fixed; }
  .panel-contact .message .container-message {
    text-align: center;
    width: 600px;
    max-width: 90%;
    margin: auto;
    color: white;
    padding-bottom: 3in; }
    .panel-contact .message .container-message .title-contact {
      font-size: 2em;
      padding: 50px 0 10px; }
    .panel-contact .message .container-message .message-contact {
      font-size: .9em;
      line-height: 20px;
      padding: 10px 0; }

.panel-contact .container-form {
  position: relative;
  top: -3in;
  margin-bottom: -2in; }
  .panel-contact .container-form .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: none;
    -ms-flex-pack: none;
    justify-content: none;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 20px auto;
    width: 500px;
    max-width: 90%;
    background: white;
    -webkit-box-shadow: 0 3px 5px rgba(100, 100, 100, 0.3);
    box-shadow: 0 3px 5px rgba(100, 100, 100, 0.3);
    padding: 20px 30px;
    border-radius: 5px; }
    .panel-contact .container-form .contact-form .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin-bottom: 30px; }
      .panel-contact .container-form .contact-form .row .name-field {
        font-size: .7em;
        color: silver;
        padding-left: 10px; }
      .panel-contact .container-form .contact-form .row .text-field {
        background: white;
        width: 100%;
        border-radius: 5px;
        padding: 15px 10px;
        border: 1px solid rgba(100, 100, 100, 0.1);
        margin: 5px 0;
        font-size: 1em;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .panel-contact .container-form .contact-form .row .text-field:focus {
          border-color: rgba(230, 60, 90, 0.5);
          color: #e63c5a; }
        @media screen and (max-width: 600px) {
          .panel-contact .container-form .contact-form .row .text-field {
            font-size: .9em; } }
      .panel-contact .container-form .contact-form .row .button-send {
        background: #e63c5a;
        color: white;
        width: 100%;
        padding: 15px;
        border-radius: 5px;
        font-size: 1em; }
        @media screen and (max-width: 600px) {
          .panel-contact .container-form .contact-form .row .button-send {
            font-size: .9em; } }

.app-footer {
  border-top: 1px solid #e6e6e6; }
  .app-footer .content {
    font-size: 1.1em;
    padding: 3em 4em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    .app-footer .content .column {
      border-left: 1px solid #e6e6e6;
      padding-left: 1em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .app-footer .content .column .title {
        padding-bottom: 1em;
        color: #f32b85;
        font-size: 1.05em; }
      .app-footer .content .column .link {
        color: gray;
        margin-bottom: .5em;
        font-size: 0.9em; }
        .app-footer .content .column .link:hover {
          color: #f11377; }
        .app-footer .content .column .link:first-letter {
          font-size: 1.1em; }
  .app-footer .copyright {
    text-align: center;
    padding: 2.5em 1em .5em 1em;
    color: #fff;
    background: #de0d6b;
    text-transform: uppercase;
    font-size: 0.8em; }
