@import "https://fonts.google.com/specimen/Muli";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif; }

html {
  scroll-behavior: smooth; }

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

button {
  cursor: pointer; }

input, button, textarea {
  background: none;
  border: none;
  outline: none;
  resize: none; }
  input[type="number"]::-webkit-inner-spin-button, button[type="number"]::-webkit-inner-spin-button, textarea[type="number"]::-webkit-inner-spin-button {
    display: none; }

li {
  list-style: none; }

a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none; }

body {
  -webkit-animation: show .3s 1 ease;
  animation: show .3s 1 ease; }

@-webkit-keyframes show {
  from {
    opacity: 0.4; } }

@keyframes show {
  from {
    opacity: 0.4; } }

body::-webkit-scrollbar {
  background: #f0f0f0;
  width: 8px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  /*@include responsive($width-mobile){
      display: none;
    }*/ }
  body::-webkit-scrollbar:hover {
    background: white; }

body::-webkit-scrollbar-thumb {
  background: #de0d6b;
  border-radius: 5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

body::-webkit-scrollbar-thumb:vertical:hover {
  background: #e63c5a; }

.btn-contact {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  bottom: 50%;
  right: 1%;
  background: #de0d6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.2em;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .btn-contact .icon {
    color: #fff;
    cursor: pointer; }
    .btn-contact .icon:active {
      -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
      transform: scale(0.95); }
  .btn-contact.hide {
    right: -100%; }

.app-title {
  width: 100%;
  max-height: 120px;
  padding: 1.3em 1em;
  position: relative;
  background: #cb0c62;
  /*.title{
      font-size: 1.2em;
      text-align: center;
      color: white;
   }*/ }
  .app-title .icon {
    text-align: center; }
    .app-title .icon img {
      width: 360px; }

.app-menu {
  width: 100%;
  position: relative;
  background: #de0d6b;
  border-bottom: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .app-menu.animate {
    top: -100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.app-menu > .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .app-menu > .list .option {
    position: relative; }
    .app-menu > .list .option:hover > .sub-list {
      visibility: visible;
      opacity: 1;
      left: 0; }
  .app-menu > .list .option > .sub-list {
    position: absolute;
    border-bottom: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    visibility: hidden;
    opacity: 0;
    left: -15px;
    z-index: 10; }
  .app-menu > .list .option .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #de0d6b;
    line-height: 2.5em;
    padding: 0 1em;
    font-size: 1.1em;
    color: #fff; }
    .app-menu > .list .option .link span {
      margin-left: 5px;
      font-size: 0.8em; }
    .app-menu > .list .option .link:hover {
      background: #f32b85; }
    .app-menu > .list .option .link.sub {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      border-top: 1px solid #e6e6e6; }

.panel-contact {
  width: 100%;
  margin: 4em auto;
  padding: 20px;
  border-top: 1px solid #e6e6e6; }
  .panel-contact .title {
    width: 80%;
    margin: 0 auto;
    padding: 4em 0.3em 1.5em 0.3em; }
    .panel-contact .title .t {
      font-size: 2.2em;
      background: -webkit-gradient(linear, left top, left bottom, from(#de0d6b), color-stop(#de0d6b), to(#831cf6));
      background: -webkit-linear-gradient(top, #de0d6b, #de0d6b, #831cf6);
      background: -o-linear-gradient(top, #de0d6b, #de0d6b, #831cf6);
      background: linear-gradient(top, #de0d6b, #de0d6b, #831cf6);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  .panel-contact .content {
    width: 80%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; }
    .panel-contact .content .container-form {
      width: 100%; }
      .panel-contact .content .container-form .header-title {
        width: 100%;
        padding: 0 5px; }
        .panel-contact .content .container-form .header-title .title-panel {
          color: #de0d6b;
          margin-bottom: 20px; }
        .panel-contact .content .container-form .header-title .message-panel {
          font-size: .9em;
          color: gray;
          line-height: 20px;
          margin-bottom: 20px; }
      .panel-contact .content .container-form .contact-form {
        max-width: 100%;
        background: white;
        border-radius: 5px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr); }
        @media screen and (max-width: 600px) {
          .panel-contact .content .container-form .contact-form {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: (1fr)[1];
            grid-template-columns: repeat(1, 1fr); } }
        .panel-contact .content .container-form .contact-form .row {
          margin: 5px; }
          @media screen and (max-width: 600px) {
            .panel-contact .content .container-form .contact-form .row {
              margin: 10px 0; } }
          .panel-contact .content .container-form .contact-form .row.row-message {
            -ms-grid-column-span: 2;
            grid-column: span 2; }
            @media screen and (max-width: 600px) {
              .panel-contact .content .container-form .contact-form .row.row-message {
                grid-column: auto; } }
          .panel-contact .content .container-form .contact-form .row .text-field {
            background: white;
            width: 100%;
            padding: 10px;
            border: 1px solid rgba(100, 100, 100, 0.15);
            margin-bottom: 5px;
            font-size: .85em;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
            .panel-contact .content .container-form .contact-form .row .text-field:focus {
              border-color: rgba(230, 60, 90, 0.5);
              color: #f32b85; }
          .panel-contact .content .container-form .contact-form .row .validity-form {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: none;
            -ms-flex-pack: none;
            justify-content: none;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%; }
            .panel-contact .content .container-form .contact-form .row .validity-form .text-validity {
              color: #de0d6b;
              margin: 0 10px; }
          .panel-contact .content .container-form .contact-form .row .button-send {
            margin-left: auto;
            padding: 0 1in;
            font-size: .9em;
            width: 100%;
            cursor: pointer;
            font-weight: bold; }
    .panel-contact .content .container-politics {
      width: 80%;
      margin: 0 auto; }
      .panel-contact .content .container-politics .title-politics {
        color: #1f1f1f;
        margin-bottom: 20px;
        font-size: 1.5em; }
      .panel-contact .content .container-politics .list-politics .item {
        color: #737373;
        list-style-type: disc;
        line-height: 20px;
        font-size: .85em;
        padding: 5px 0;
        margin: 0 0 0 1em; }

.btn-global {
  padding: 0 .8em;
  line-height: 2.5em;
  background: #de0d6b;
  color: #fff;
  font-size: 1.1em;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .btn-global.minun {
    font-size: 0.8em; }
  .btn-global:hover {
    border-radius: 1.5em;
    background: #c60c5f; }
  .btn-global:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95); }

.view-images-expand {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0;
  -o-transition: 0;
  transition: 0; }
  .view-images-expand .image {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .view-images-expand .image .container-images {
      width: 70%;
      height: 100%;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto; }
      .view-images-expand .image .container-images .image-expand {
        width: 100%;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
    .view-images-expand .image .left, .view-images-expand .image .right {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      color: #fff;
      font-size: 2.5em;
      cursor: pointer; }
    .view-images-expand .image .left {
      left: 8%; }
    .view-images-expand .image .right {
      right: 8%; }
  .view-images-expand .close {
    color: #fff;
    font-size: 2em;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer; }
  .view-images-expand.animate {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    visibility: visible;
    opacity: 1; }

.central-title {
  width: 100%;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin: 3em 0;
  padding: 1em 0;
  text-align: center; }
  .central-title .title {
    background: -webkit-gradient(linear, left top, left bottom, from(#de0d6b), color-stop(#de0d6b), to(#831cf6));
    background: -webkit-linear-gradient(top, #de0d6b, #de0d6b, #831cf6);
    background: -o-linear-gradient(top, #de0d6b, #de0d6b, #831cf6);
    background: linear-gradient(top, #de0d6b, #de0d6b, #831cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em; }

.content-slider {
  width: 80%;
  margin: 5em auto 5em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .content-slider .slider {
    width: 50%;
    position: relative; }
    .content-slider .slider .images {
      width: 100%;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .content-slider .slider .images * {
        width: 100%;
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s; }
    .content-slider .slider .icons {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      margin: 0 auto;
      position: absolute;
      bottom: 4%;
      left: 0;
      right: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .content-slider .slider .icons .circle {
        width: 13px;
        height: 13px;
        margin: 0 2px;
        border: 2px solid #fff;
        border-radius: 50%; }
        .content-slider .slider .icons .circle.active {
          background: #fff; }
  .content-slider .text {
    width: 50%;
    padding: 0 2em; }
    .content-slider .text .title-text {
      font-size: 2em;
      padding-bottom: 1em;
      color: #de0d6b; }
    .content-slider .text .desc-text {
      font-size: 1.1em;
      line-height: 1.5em;
      padding-bottom: 2em;
      color: #737373; }

.content-tools {
  width: 80%;
  margin: 0 auto 3em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  .content-tools .card-tool {
    width: 220px;
    margin: 5px;
    padding: 1.5em 2em;
    border-radius: 1.5em;
    -webkit-box-shadow: 0 5px 15px #e6e6e6, 0 -1px 2px #e6e6e6;
    box-shadow: 0 5px 15px #e6e6e6, 0 -1px 2px #e6e6e6;
    font-size: 0.9em;
    text-align: center; }
    .content-tools .card-tool .icon {
      font-size: 3em;
      height: 120px;
      color: #de0d6b;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .content-tools .card-tool .icon:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        cursor: pointer; }
    .content-tools .card-tool .desc {
      color: gray; }

.content-profile {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr; }
  .content-profile .image {
    height: auto;
    background-image: url("../assets/brunella_profile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 1.5em; }
  .content-profile .desc {
    padding: 0 2em;
    font-size: 1.1em; }
    .content-profile .desc .title {
      color: #de0d6b;
      font-size: 2em;
      padding-bottom: 1em; }
    .content-profile .desc .text {
      line-height: 1.7em;
      color: gray; }

.content-images {
  width: 80%;
  margin: 5em auto; }
  .content-images .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
    .content-images .content .image {
      line-height: 0;
      position: relative;
      margin: 5px;
      overflow: hidden; }
      .content-images .content .image .img {
        width: 200px; }
      .content-images .content .image .icon {
        color: #fff;
        position: absolute;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 2em;
        z-index: 2;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
      .content-images .content .image:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1;
        opacity: 0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
      .content-images .content .image:hover:after {
        opacity: 1; }
      .content-images .content .image:hover .icon {
        opacity: 1;
        visibility: visible; }
  .content-images .desc {
    padding: 3em 0 0 0;
    text-align: center; }
    .content-images .desc .message {
      width: 40%;
      margin: 0 auto;
      color: #737373; }

.app-footer {
  border-top: 1px solid #e6e6e6; }
  .app-footer .content {
    font-size: 1.1em;
    padding: 3em 4em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    .app-footer .content .column {
      border-left: 1px solid #e6e6e6;
      padding-left: 1em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .app-footer .content .column .title {
        padding-bottom: 1em;
        color: #f32b85;
        font-size: 1.05em; }
      .app-footer .content .column .link {
        color: gray;
        margin-bottom: .5em;
        font-size: 0.9em; }
        .app-footer .content .column .link:hover {
          color: #f11377; }
        .app-footer .content .column .link:first-letter {
          font-size: 1.1em; }
  .app-footer .copyright {
    text-align: center;
    padding: 2.5em 1em .5em 1em;
    color: #fff;
    background: #de0d6b;
    text-transform: uppercase;
    font-size: 0.8em; }
