@import "templates/main";

.container-about {
  margin-top: 5em;

  .panel-detail {
    .card-panel {
      margin: auto;
      width: 600px;
      position: relative;
      text-align: center;
      .image-about-panel {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        object-fit: cover;
      }
      .title-card {
        font-size: 2em;
        margin: 1em 0;
        color: $color-base;
      }
      .description {
        width: 80%;
        margin: 0 auto;
        font-size: 1.1em;
        line-height: 25px;
        color: lighten(#000,45);
        padding: 0;
      }
    }
  }
  .container-cards {
    @include flex(row,space-around);
    margin: 8em auto;
    width: 80%;
    .card {
      width: 200px;
      &:nth-child(odd){
        transform: translateY(-50px);
      }
      @include flex(column,none,center);
      .card-image {
        width: 140px;
        height: 140px;
        object-fit: cover;
        border-radius: 100%;
        margin: 10px 0;
        padding: 4px;
      }
      .detail-content {
        text-align: center;
        .dark {
          display: block;
          margin: 10px 0;
          @include text-gradient($text-g);
        }
        .light {
          font-size: .9em;
          color: rgb(80,80,80);
        }
      }
    }
  }
  .container-detail {
    margin: 3em auto;
    width: 100%;
    .card-floating {
      position: relative;
      .container-card-text {
        position: relative;
        padding: 4em 0;
        .body-text {
          background: $color-base;
          color: white;
          border-radius: 0 30px 0 30px;
          padding: 30px;
          width: 500px;
          margin:auto;
          .title {
            font-size: 1.8em;
            margin-bottom: 20px;
            display:block;
          }
          .text {
            font-size: .9em;
            line-height: 20px;
          }
        }
      }
      .container-image {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        background: url("https://c.wallhere.com/photos/16/28/women_portrait_depth_of_field_sunset_long_hair_closed_eyes-19931.jpg!d");
        background-attachment: fixed;
      }
    }
  }

}


@import "templates/footer";
