@import "templates/main";

.parallax-image{
  background: linear-gradient(bottom,#000,transparent), url("https://cdn.pixabay.com/photo/2019/12/03/07/34/gift-4669449_960_720.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 300px;
}

.container-about {
  margin-top: 5em;

  .panel-detail {
    .card-panel {
      margin: auto;
      width: 600px;
      position: relative;
      text-align: center;
      .image-about-panel {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        object-fit: cover;
      }
      .title-card {
        font-size: 2em;
        margin: 1em 0;
        color: $color-base;
      }
      .description {
        width: 80%;
        margin: 0 auto;
        font-size: 1.1em;
        line-height: 25px;
        color: lighten(#000,45);
        padding: 0;
      }
    }
  }
  .container-cards {
    @include flex(row,space-around);
    margin: 8em auto;
    width: 80%;
    .card {
      width: 200px;
      &:nth-child(odd){
        transform: translateY(-50px);
      }
      @include flex(column,none,center);
      .card-image {
        width: 140px;
        height: 140px;
        object-fit: cover;
        border-radius: 100%;
        margin: 10px 0;
        padding: 4px;
      }
      .detail-content {
        text-align: center;
        .dark {
          display: block;
          margin: 10px 0;
          @include text-gradient($text-g);
        }
        .light {
          font-size: .9em;
          color: rgb(80,80,80);
        }
      }
    }
  }

}


@import "templates/footer";
