@import "templates/main";

.header-title{
   width: 100%;
   padding: 6em 0;
   text-align: center;
   .title{
      font-size: 3em;
      color: $color-base;
      font-weight: bold;
   }
   @include responsive(950px){
      padding: 5em 0;
      font-size: .8em;
   }
   @include responsive(850px){
      border-top: 1px solid rgb(230,230,230);
   }
   @include responsive(650px){
      font-size: .7em;
   }
   @include responsive(450px){
      font-size: .6em;
   }
}

.body-events{
   margin: 0 0 6em 0;
   &.line{ 
      @include responsive(850px) {border-top: 1px solid rgb(230,230,230); }
   }
   .content-events{
      width: 70%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-gap: 1.5em;
      .card{
         width: 100%;
         box-shadow: 0 5px 10px rgb(230,230,230);
         display: flex; 
         $h : 200px;
         .head{
            width: 40%;
            line-height: 0;
            padding: 1em;
            .img-event{ 
               width: 100%;
               height: $h;
               object-fit: cover;
               object-position: center;
               filter: brightness(80%);
            }
         }
         .body{
            width: 65%;
            padding: 1.5em 1em 1em 1em;
            height: $h;
            .title{
               font-size: 1.3em;
               padding-bottom: .5em;
               color: $color-base;
            }
            .message{
               width: 100%;
               color: lighten(#000,45);
               font-size: .9em;
            } 
            overflow: auto;
            &:-webkit-scrollbar{
               display: none;
            }
         }
         &:hover{
            box-shadow: 0 5px 30px rgb(230,230,230);
         }
      }
   }
   @include responsive(950px){
      margin: 0 0 4em 0;
      .content-events{
         width: 85%;
      }
   }
   @include responsive(850px){
      .content-events{
         width: 95%;
         .card > .head{ width: 50%; }
         .card > .body{ width: 50%; }
      }
   }
   @include responsive(630px){
      .content-events{
         width: 60%;
         .card{
            display: block;
            .head,.body{ width: 100%; }
            .body{
               height: 150px;
               padding: 1em;
               padding-top: .5em;
               font-size: 0.9em;
               text-align: center;
            }
         }
      }
   }
   @include responsive(550px){
      .content-events{ width: 70%; }
   }
   @include responsive(450px){
      .content-events{ 
         width: 80%; 
         .card > .body{ font-size: 0.88em; }
      }
   }
   @include responsive(400px){
      .content-events{ width: 90%; }
   }
   .not-events{
      width: 100%;
      padding: 10em 0 6em 0;
      @include flex(column,center,center);
      color: lighten(#000, 45);
      
      .sub{
         padding-bottom: 0.5em;
         font-size: 3em;
         @include responsive(700px){
            font-size: 2.5em;
         }
         @include responsive(500px){
            font-size: 2.2em;
         }
      }
      .mes{
         width: 30%;
         margin: 0 auto;
         text-align: center;
         @include responsive(700px){
            width: 60%;
            font-size: .9em;
         }
      }
      @include responsive(500px){
         padding: 8em 0 4em 0;
      }
   }
}

@import "templates/footer.scss";