@import "templates/main";

.container-landing-main {
  width: 80%;
  margin: 5em auto;
  @include flex();

  .image,.text {
    width: 50%;
  }
  .image {
    img {
      width: 100%;
    }
  }
  .text {
    padding: 0 2em;
    .title-text{
      font-size: 2em;
      padding-bottom: 1em;
      color: $color-base;
      position: relative;
    }
    .desc-text{
      font-size: 1.1em;
      line-height: 1.5em;
      padding-bottom: 2em;
      color: lighten(#000,45);
    }
  }
  @include responsive(1200px) {
    font-size: .9em;
    width: 90%;
  }
  @include responsive(900px) {
    display:block;
    .image,.text {
      width: 100%;
      text-align: center;
      .title-text {
        margin-top: 1em;
      }
    }
  }
  @include responsive(750px){
    width: 100%;
    margin: 1em auto;
    .text .desc-text{
      font-size: 0.95em;
    }
  }
}

.great-message {
  width: 100%;
  text-align: center;
  padding: 3em 0;
  border-top: 1px solid rgb(230,230,230);
  .title {
    width: 40%;
    margin: auto;
    font-size: 2em;
    margin-bottom: 1em;
    position: relative;
    .l-a {
      font-size: 1.4em;
    }
    .l-m {
      font-size: 1.8em;
    }
  }
  .desc-text-great { 
    font-size: 1.1em;
    line-height: 1.5em;
    color: lighten(#000,45);
    margin: auto;
    padding: 0 3em;
    width: 55%;
  }
  @include responsive(800px) {
    .title {width: 60%;}
    .desc-text-great {width: 70%;}
  }

  @include responsive(600px) {
    font-size: .8em;
    .title {width: 90%;}
    .desc-text-great {width: 100%;}
  }

  
  @include responsive(500px){
    font-size: .7em;
  }

}

.cards-more-details {
  margin: auto;
  width: 100%;
  padding: 2em 0 2em 0;
  $border : 1px solid rgb(230,230,230);
  border-top: $border;
  border-bottom: $border;

  .container{
    width: 80%;
    margin: 0 auto;
    @include flex(row,center,none);
    @include responsive(800px) {
      flex-flow: wrap;
    }
    @import "components/card_simple";
  }
}

.title-cards{
  width: 100%;
  border-bottom: 1px solid rgb(230,230,230);
  padding: 1.5em 0;
  text-align: center;
  margin:auto;
  .title{
    font-size: 2.5em;
    @include text-gradient($text-g)
  }
  @include responsive(750px){
    .title{ font-size: 2em; }
  }
  @include responsive(600px){
    width: 90%;
    .title{ font-size: 1.8em; }
  }
}

.content-cards{
  width: 70%;
  margin: 4em auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1em;
  @include responsive(800px){
    @include flex(row,center,none);
    flex-flow: wrap;
    .card-image {
      margin-bottom: 1.5em;
      width: 100%;
    }
  }
  .card-image{
    width: 100%;
    height: 320px;
    padding: 1em 1.5em;
    position: relative;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    @include flex(column,center,center);

    &:after{
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(#000,.6);
    }

    .title,.text{ position: relative; z-index: 2; }
    
    .title{
      font-size: 2em;
      padding-bottom: .2em;
    }
    .text{
      font-size: 0.9em;
    }

    $list : "https://cdn.pixabay.com/photo/2016/12/15/03/27/cocoa-1908020_960_720.jpg",
            "https://cdn.pixabay.com/photo/2018/10/30/16/03/christmas-tree-3784021_960_720.jpg",
            "https://cdn.pixabay.com/photo/2019/12/09/17/46/hochybrig-4683994_960_720.jpg";
    @for $i from 1 through 3{
      &:nth-child(#{$i}n){
        background-image: url(nth($list,$i));
      }
    }
  }
}

@import "templates/footer";
