@import "templates/main";

.handler-click-publication-blog{
    cursor: pointer;
    &:hover{ text-decoration: underline; }
}

.not-found{
    width: 100%;
    height: 70vh;
    @include flex(column,center,center);
    .message{
        font-size: 2em;
    }
    @include responsive(700px){
        border-top: 1px solid rgb(230,230,230);
        .message{ font-size: 1.4em; }
    }
}

.section-blog{
    width: 80%;
    margin: 1em auto 0 auto;
    background: #fff;
    @include responsive(950px){ width: 90%; }
    @include responsive(800px){ width: 100%; }
}

.section-blog > .preview-blog-main {
    width: 100%;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;

    //Text-image(expand/minus)
    .content-text{
        width: 100%;
        position: absolute;
        bottom: 0;
        color: #fff;
        left: 0;
        z-index: 10;
        padding: 2em;
        .title{
            font-size: 2em;
            padding-bottom: .4em;
        }
        .message{
            width: 70%;
            font-size: 0.9em;
            line-height: 1.6em;
            color: rgb(187, 187, 187);
            padding-bottom: .5em;
        }
        @include responsive(800px){
            text-align: center;
            .message{ width: 100%; }
        }
        @include responsive(500px){
            padding: 1em;
        }
    }

    .image-expand{
        width: 100%;
        height: 470px;
        overflow: hidden;
        position: relative;
        .image-main{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .3s;
        }

        &:after{
            content: "";
            background: linear-gradient(bottom,#000,transparent);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        @include responsive(650px){
            height: 350px;
            font-size: .9em;
        }
        
        @include responsive(450px){
            height: 280px;
        }
    }

    .image-minus{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
        .image{
            width: 100%;
            overflow: hidden;
            height: 250px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .3s;
            }
            .content-text{
                padding: 1em;
                .title{ font-size: 1.3em; }
                .message{ width: 100%; }
            }
            &:after{
                content: "";
                background: linear-gradient(bottom,#000,transparent);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            &:hover{
                img{ transform: scale(1.1); }
            }   
        }
        @include responsive(900px){
            grid-template-columns: 1fr 1fr;
        }
        @include responsive(800px){
            width: 95%;
            margin: 1em auto;
        }
        @include responsive(650px){
            width: 80%;
            grid-template-columns: 1fr;
            .image{ height: 220px; font-size: .9em;}
        }
        @include responsive(450px){
            width: 90%;  
            .image{ height: 180px;}
        }
    }
}

.section-blog > .delimiter-title{
    width: 100%;
    margin: 2.5em 0 1.5em 0;
    padding: 0 0 .5em 0;
    font-size: 1.5em;
    border-bottom: 1px solid rgb(230,230,230);
    @include responsive(800px){
        width: 95%;
        margin: 2em auto 2em auto;
    }
}

.section-blog > .section-blog-published {
    width: 100%;
    margin: 0 auto 4em auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1em;
    @import "components/published_card";
    @include responsive(950px){
        grid-template-columns: repeat(3,1fr);
    }
    @include responsive(800px){
        width: 90%;
        grid-template-columns: repeat(2,1fr);
    }
    @include responsive(600px){
        width: 75%;
        grid-template-columns: repeat(1,1fr);
    }
    @include responsive(400px){
        width: 85%;
    }

    //Javascript line 298(loadContentPublication)
    .publication-end{
        width: 100%;
        height: 300px;
        text-align: center;
        @include flex(column,center,center);
        .icon{
            color: $color-base;
            font-size: 3em;
            padding-bottom: .5em;
        }
        .message{
            font-weight: bold;
            color: #444;
        }
    }
    &.not-publication{
        grid-template-columns: 1fr;
    }
}

.publication-blog-expand{
    width: 100%;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    left: -100%;
    transition: .3s;
    z-index: 1000;
    display: flex;

    &::-webkit-scrollbar{
        display: none;
    }

    .image{
        width: 60%;
        height: 100%;
        position: relative;
        line-height: 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .icon{
            position: absolute;
            top: 1%;
            left: 2%;
            color: #fff;
            cursor: pointer;
            font-size: 2em;
            z-index: 2;
            &.handleModal{
                top: initial;
                left: initial;
                bottom: 2%;
                right: 2%;
            }
        }
        &:after{
            content : "";
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.4);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    
    .content-publication{
        width: 40%;
        height: 100%;
        overflow: auto;
        .data-description{
            width: 100%;
            min-height: 200px;
            .title{
                font-size: 1.6em;
                padding: .5em 1em;
                @include flex(row,flex-start,center);
            }
            .content{
                line-height: 1.4em;
                padding: .5em 1.5em;
                color: lighten(#000,45);
            }
        }
        .content-extra{
            width: 100%;
            .title{
                padding: .5em 1em 1em 1em;
                font-size: 1.4em;;
                border-bottom: 1px solid rgb(230,230,230);
                @include responsive(650px){
                    font-size: 1.2em;
                }
            }
            .view-comments{
                width: 100%;
                height: 100%;
                position: relative;
                @import "components/comment";
                .loader-comment{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    @include flex(column,center,center);
                    .subtitle{
                        font-size: 1.2em;
                        padding-bottom: 1.5em;
                        color: #000;
                    }
                    .loader{
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        border: 3px solid transparent;
                        border-bottom: 3px solid $color-base;
                        animation: animate-loader .6s infinite linear;

                        @keyframes animate-loader{
                            to{ transform: rotate(0); }
                            from{ transform: rotate(1turn); }
                        }
                    } 
                }
                .comment-0{
                    width: 100%;
                    height: 250px;
                    @include flex(column,center,center);
                    .icon{
                        color: $color-base;
                        font-size: 2em;
                        padding-bottom: 0.5em;
                    }
                    .message{
                        font-size: 1.2em;
                    }
                }
            }
        }
        &::-webkit-scrollbar{
            display: none;
        }
    }

    .create-comment{
        width: 30%;
        margin: auto;
        position: absolute;
        bottom: 3%;
        left: 2%;
        background: #fff;
        .subtitle{
            font-size: 1.2em;
            padding: 2em 2em 1.2em 2em;
        }
        .create{
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
            padding: 0 2em 2.5em 2em;
            .input{
                width: 100%; 
                padding: .5em;
                border: 1px solid rgb(230,230,230);
                &.t-area{
                    resize: none;
                    height: 100px;
                }
                &.sub{
                    background: rgb(230,230,230);
                    cursor: pointer;
                }
            }
            .user,.buttons{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
            }
        }

        &.animate{
            transition:.5s;
            bottom: -100%;
            opacity: .4;
            transform: scale(.5);
            transform-origin: top;
            @include responsive(800px){
                bottom: initial;
                left: -100%;
                transform-origin: left;
            }
        }
        &:not(.animate) {
            opacity:1;
            transform: none;
            animation: create-animate-show .5s 1;
            @keyframes create-animate-show {
                from {
                    transform-origin: bottom;
                    transform: scale(.5);
                    opacity: .4;
                }
            }
        }
        
        @include responsive(800px){
            position: fixed;
            width: 100%;
            height: 100vh;
            bottom: initial;
            top: 0;
            left: 0;
        }
    }

    &.animate{
        left: 0;
    }

    @include responsive(950px){
        .image{ width: 50%; }
        .content-publication{ width: 50%; }  
    }

    @include responsive(800px){
        overflow: auto;
        flex-direction: column;
        .image,.content-publication{ width: 100%; height: initial; }
        .content-publication{
            overflow: initial;
            .data-description{
                padding: 1.5em 0;
            }
            .content-extra{
                height: 250px;
            }
        }
    }
}


@import "./templates/footer.scss"