@import "templates/main";

.central-title{
   width: 100%;
   border-top: 1px solid rgb(230,230,230);
   border-bottom: 1px solid rgb(230,230,230);
   margin: 3em 0;
   padding: 1em 0;
   text-align: center;
   .title{
      @include text-gradient($text-g);
      font-size: 3em;
   }
}

.content-slider{
   width: 80%;
   margin: 5em auto 5em auto;
   @include flex();
   .slider{
      width: 50%;
      position: relative;
      .images{
         width: 100%;
         overflow: hidden;
         @include flex();
         *{
            width: 100%;
            height: auto;
            display: flex;
            flex: 0 0 auto;
            transition: .6s;
         }
      }
      .icons{
         width: max-content;
         margin: 0 auto;
         position: absolute;
         bottom: 4%;
         left: 0;
         right: 0;
         @include flex;
         .circle{
            width: 13px;
            height: 13px;
            margin: 0 2px;
            border: 2px solid #fff;
            border-radius: 50%;
            &.active{ background: #fff; }
         }
      }
   }
   .text{
      width: 50%;
      padding: 0 2em;
      .title-text{
         font-size: 2em;
         padding-bottom: 1em;
         color: $color-base;
      }
      .desc-text{
         font-size: 1.1em;
         line-height: 1.5em;
         padding-bottom: 2em;
         color: lighten(#000,45);
      }
      @include responsive(800px) {
         text-align: center;
         .title-text {
            margin: 1em 0 0;
         }
      }
   }
   @include responsive(1200px) {
      width: 90%;
   }
   @include responsive(950px) {
      .slider,.text {
         font-size: .9em;
      }
   }

   @include responsive(800px) {
      @include flex(column,none,none);
      width: 100%;
      .slider , .text{
         width: 100%;
      }
   }

}

.content-tools{
   width: 80%;
   margin: 0 auto 3em auto;
   @include flex(row,space-around){ flex-flow: row wrap; };
   .card-tool{
      width: 220px;
      margin: 5px;
      padding: 1.5em 2em;
      border-radius: 1.5em;
      //border: 1px solid rgb(230,230,230);
      box-shadow: 0 5px 15px rgb(230,230,230),
                  0 -1px 2px rgb(230,230,230);
      font-size: 0.9em;
      text-align: center;

      @include responsive(600px) {
         width: 100%;
      }
      .icon{
         font-size: 3em;
         height: 120px;
         color: $color-base;
         @include flex(row,center,center);
         &:hover{ transform: scale(1.1); cursor: pointer; }
      }
      .desc{
         color: lighten(#000,50);
      }
   }
}

.content-profile{
   width: 80%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   .image{
      height: auto;
      background-image: url("../assets/brunella_profile.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding-top: 1.5em;
   }

   .desc{
      padding: 0 2em;
      font-size: 1.1em;
      .title{
         color: $color-base;
         font-size: 2em;
         padding-bottom: 1em;
      }
      .text{
         line-height: 1.7em;
         color: lighten(#000,50);
      }
      @include responsive(500px) {
         padding: 0 1em;
         .title {

         }
         .text {

         }
      }
   }
   @include responsive(800px) {
      @include flex(column-reverse,none,none);
      text-align: center;
      .image {
         height: 200px;
      }
      .desc{
         .title {
            margin-top: 1em;
         }
      }
   }
}

.content-images{
   width: 80%;
   margin: 5em auto;
   .content{
      @include flex(row,center){ flex-flow: row wrap; };
      .image{
         line-height: 0;
         position: relative;
         margin: 5px;
         overflow: hidden;
         .img{ 
            width: 200px; 
            @include responsive(550px) {
               width: 100%;
            }
         }
         .icon{
            color: #fff;
            position: absolute;
            width: max-content;
            height: max-content;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 2em;
            z-index: 2;
            cursor: pointer;
            visibility: hidden;
            opacity: 0;
            transition: .3s;
         }
         &:after{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(#000,.6);
            z-index: 1;
            opacity: 0;
            transition: .3s;
         }
         &:hover{
            &:after{ opacity: 1; }
            .icon{ opacity: 1; visibility: visible; }
         }
      }
   }
   .desc{
      padding: 3em 0 0 0;
      text-align: center;
      .message{
         width: 40%;
         margin: 0 auto;
         color: lighten(#000, 45);
         @include responsive(550px) {
            width: 60%;
         }
      }
   }
}

@import "templates/footer";
