@import "templates/main";

.container-about {
  .panel-detail {
    .card-panel {
      margin: auto;
      width: 600px;
      position: relative;
      text-align: center;
      .image-about-panel {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        object-fit: cover;
      }
      .title-card {
        font-size: 2em;
        margin: 1em 0;
        color: $color-base;
      }
      .description {
        width: 80%;
        margin: 0 auto;
        font-size: 1.1em;
        line-height: 25px;
        color: lighten(#000,45);
        padding: 0;
      }
      @include responsive (600px) {
          width: 100%;
      }
    }
  }
  .container-cards {
    @include flex(row,space-around);
    width: 80%;
    margin: 8em auto;
    @include responsive(850px) {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 40px;
      margin: 4em auto;
    }
    @include responsive(700px) {
      @include flex(column,center,center);
      width: 100%;
      margin: 3em 0;
    }
    .card {
      width: 200px;
      &:nth-child(odd){
        transform: translateY(-50px);
        @include responsive(850px) {
          transform: translateX(0);
        }
      }
      @include flex(column,none,center);
      .card-image {
        width: 140px;
        height: 140px;
        object-fit: cover;
        border-radius: 100%;
        margin: 10px 0;
        padding: 4px;
        @include responsive(850px) {
          margin-top:.6in;
        }
      }
      .detail-content {
        text-align: center;
        .dark {
          display: block;
          margin: 10px 0;
          @include text-gradient($text-g);
        }
        .light {
          font-size: .9em;
          color: rgb(80,80,80);
        }
      }
    }
  }
  .container-detail {
    margin: 0 auto 4em auto;
    width: 100%;
    .card-floating {
      position: relative;
      .container-card-text {
        position: relative;
        padding: 6em 0;
        .body-text {
          color: white;
          padding: 30px;
          text-align: center;
          
          .title {
            width: 50%;
            margin: 0 auto;
            font-size: 3em;
            margin-bottom: .5em;
            display:block;
          }
          .text {
            width: 30%;
            margin: 0 auto;
            font-size: .9em;
            line-height: 1.7em;
          }
          @include responsive(900px) {
            .title {width: 80%;}
            .text {width: 50%;}
          }
          @include responsive(500px) {
            .title {width: 100%;}
            .text {width: 60%;}
          }

        }
      }
      .container-image {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        background: linear-gradient(bottom,#000,transparent), url("../assets/brunella_profile.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

}


@import "templates/footer";
