<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Blog</title>
    <link rel="stylesheet" href="view/css/detail_blog.css?v=2"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <body>
    <header class="app-title">
      <div class="icon"><img src="view/assets/logo-b.png" alt=""/></div>
    </header>
    <nav class="app-menu">
      <ul class="list">
        <li class="option"><a class="link" href="index.php?url=home">Home</a></li>
        <li class="option"><a class="link" href="index.php?url=about">Acerca de Mi</a></li>
        <li class="option"><a class="link" href="index.php?url=coaching">Coaching</a></li>
        <li class="option"><a class="link" href="index.php?url=home#galeria">Galeria</a></li>
        <li class="option"><a class="link" href="index.php?url=blog">Blog</a></li>
        <li class="option"><a class="link" href="index.php?url=contact">Contactanos</a></li>
      </ul>
    </nav>
    <section class="app-content">
      <div class="section-blog">
        <div class="preview-blog-main"> 
          <div class="image-minus">
            <!--Content js-->
          </div>
        </div>
        <div class="delimiter-title">
          <p>Publicaciones</p>
        </div>
        <div class="section-blog-published">
          <!--Content js-->
        </div>
      </div>
    </section>
    <footer class="app-footer">
      <div class="content">
        <div class="column" data-aos="fade-up">
          <p class="title">Brunella Bevanente</p><a class="link" href="">Mujeres Empoderadas</a><a class="link" href="index.php?url=about">Sobre Mi</a>
        </div>
        <div class="column" data-aos="fade-up">
          <p class="title">Siguenos en : </p><a class="link" href="">Facebook</a><a class="link" href="">Twitter</a>
        </div>
      </div>
      <div class="copyright">
        <p>(2019) Derechos Reservados a M&D DADA</p>
      </div>
    </footer>
    <div class="content-floating">
      <div class="btn-contact"><a class="icon" href="https://api.whatsapp.com/send?phone=51943456321&amp;text=bienvenido" target="_blank"><i class="fab fa-whatsapp"></i></a></div>
      <div class="nav-icon" id="nav-icon-responsive"><i class="fa fa-bars"></i></div>
      <div class="nav-responsive animate" id="nav-content-responsive">
        <div class="links-nav"><a class="link" href="index.php?url=home">Home</a><a class="link" href="index.php?url=about">Acerca de Mi</a><a class="link" href="index.php?url=coaching">Coaching</a><a class="link" href="index.php?url=blog">Blog</a><a class="link" href="index.php?url=contact">Contactanos</a></div>
        <div class="icon-close" id="close-nav-responsive"><i class="fa fa-times"></i></div>
      </div><a class="galery-icon" href="index.php?url=home#galeria"><i class="fa fa-image"></i></a>
    </div>
    <div class="publication-blog-expand">
      <div class="image"><img src="" alt=""/>
        <div class="icon" id="close-publication-blog"><i class="fa fa-times"></i></div>
        <div class="icon handleModal" id="active-modal-comment"><i class="fa fa-comment-dots"></i></div>
      </div>
      <div class="content-publication">
        <div class="data-description">
          <p class="title"></p>
          <p class="content"></p>
        </div>
        <div class="content-extra">
          <p class="title">Comentarios</p>
          <div class="view-comments">
            <!--Comment (js ajax)-->
          </div>
        </div>
      </div>
      <div class="create-comment animate" id="create-comment">
        <p class="subtitle">Create New Comment</p>
        <form class="create">
          <div class="user">
            <input class="input" type="text" placeholder="User" maxlength="40" required="required" name="username"/>
            <input class="input" type="email" placeholder="Email" maxlength="100" required="required" name="email"/>
          </div>
          <div class="message">
            <textarea class="input t-area" name="text_comment" maxlength="400" placeholder="Comment" required="required"></textarea>
          </div>
          <div class="buttons">
            <input class="input sub" id="send-comment" type="submit" value="Send"/>
            <button class="input" id="cancel-comment" type="button">Close</button>
          </div>
        </form>
      </div>
    </div>
    <script src="view/js/icons.js?v=2"></script>
    <script src="view/js/all.js?v=2"></script>
    <script>
       AOS.init()</script>
  </body>
</html>