<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="view/css/detail_contact.css?v=2"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="view/js/icons.js?v=2" async="async"></script>
    <script src="view/js/all.js?v=2"></script>
  </head>
  <body>
    <header class="app-title">
      <div class="icon"><img src="view/assets/logo-b.png" alt=""/></div>
    </header>
    <nav class="app-menu">
      <ul class="list">
        <li class="option"><a class="link" href="index.php?url=home">Home</a></li>
        <li class="option"><a class="link" href="index.php?url=about">Acerca de Mi</a></li>
        <li class="option"><a class="link" href="index.php?url=coaching">Coaching</a></li>
        <li class="option"><a class="link" href="index.php?url=home#galeria">Galeria</a></li>
        <li class="option"><a class="link" href="index.php?url=blog">Blog</a></li>
        <li class="option"><a class="link" href="index.php?url=contact">Contactanos</a></li>
      </ul>
    </nav>
    <section class="app-content">
      <div class="image-parallax">
        <p class="title" data-aos="fade-up">Zona de <span>Contacto</span></p>
        <p class="text" data-aos="fade-up">Comuniquese directamente conmigo atravez de un sencillo formulario de contacto.</p>
      </div>
      <div id="contact"></div>
      <aside class="panel-contact" data-aos="zoom-in">
        <div class="title">
          <p class="t">Contactanos</p>
        </div>
        <div class="content">
          <div class="container-form">
            <div class="header-title"> 
              <p class="message-panel">Para poder brindarte nuestros servicios necesitamos que nos brindes tu información</p>
            </div>
            <form class="contact-form" action=".">
              <div class="row">
                <input class="text-field" type="text" autocomplete="off" name="name" placeholder="Nombre completo" spellcheck="false" required="required"/>
              </div>
              <div class="row">
                <input class="text-field" type="email" autocomplete="off" name="email" placeholder="Correo electrónico" spellcheck="false" required="required"/>
              </div>
              <div class="row">
                <input class="text-field" type="number" autocomplete="off" name="phone" placeholder="Numero telefónico" spellcheck="false" required="required"/>
              </div>
              <div class="row row-message">
                <textarea class="text-field text-message" name="message" placeholder="Escribenos un mensaje" rows="5" spellcheck="false" required="required"></textarea>
              </div>
              <div class="row row-button">
                <input class="btn-global button-send" type="submit"/>
              </div>
            </form>
          </div>
          <div class="container-politics">
            <p class="title-politics">Politicas de privacidad:</p>
            <ul class="list-politics">
              <li class="item">
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
              <li class="item">
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
              <li class="item">
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            </ul>
          </div>
        </div>
      </aside>
    </section>
    <footer class="app-footer">
      <div class="content">
        <div class="column">
          <p class="title">Brunella Bevanente</p><a class="link" href="https://emcforwoman.legisdam.com/">Mujeres Empoderadas</a><a class="link" href="index.php?url=about">Sobre Mi</a><a class="link" href="index.php?url=coaching">Coaching</a><a class="link" href="index.php?url=blog">Blog</a>
        </div>
        <div class="column">
          <p class="title">Siguenos en : </p><a class="link" href="">Facebook</a><a class="link" href="">Twitter</a>
        </div><img class="image-decoration" src="view/assets/icon.png" alt=""/>
      </div>
      <div class="copyright">
        <p>(2019) Derechos Reservados a M&D DADA</p>
      </div>
    </footer>
    <div class="content-floating">
      <div class="btn-contact"><a class="icon" href="https://api.whatsapp.com/send?phone=51943456321&amp;text=bienvenido" target="_blank"><i class="fab fa-whatsapp"></i></a></div>
      <div class="nav-icon" id="nav-icon-responsive"><i class="fa fa-bars"></i></div>
      <div class="nav-responsive animate" id="nav-content-responsive">
        <div class="links-nav"><a class="link" href="index.php?url=home">Home</a><a class="link" href="index.php?url=about">Acerca de Mi</a><a class="link" href="index.php?url=coaching">Coaching</a><a class="link" href="index.php?url=blog">Blog</a><a class="link" href="index.php?url=contact">Contactanos</a></div>
        <div class="icon-close" id="close-nav-responsive"><i class="fa fa-times"></i></div>
      </div><a class="galery-icon" href="index.php?url=home#galeria"><i class="fa fa-image"></i></a>
    </div>
    <script>
       AOS.init()</script>
  </body>
</html>