<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Eventos</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="view/assets/icon.png"/>
    <link rel="stylesheet" href="view/css/detail_events.css"/>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="view/js/icons.js?v=5" async="async"></script>
    <script src="view/js/all.js?v=5"></script>
  </head>
  <body>
    <header class="app-title">
      <div class="icon"><img src="view/assets/logo-b.png" alt=""/></div>
    </header>
    <nav class="app-menu">
      <ul class="list">
        <li class="option"><a class="link" href="index.php?url=home">Home</a></li>
        <li class="option"><a class="link" href="index.php?url=about">Acerca de Mi</a></li>
        <li class="option"><a class="link" href="index.php?url=coaching">Coaching</a></li>
        <li class="option"><a class="link" href="index.php?url=home#galeria">Galeria</a></li>
        <li class="option"><a class="link" href="index.php?url=events">Eventos</a></li>
        <li class="option"><a class="link" href="index.php?url=blog">Blog</a></li>
        <li class="option"><a class="link" href="index.php?url=contact">Contactanos</a></li>
      </ul>
    </nav>
    <section class="app-content">
      <header class="header-title" id="header-title">
        <h1 class="title">Nuestros Eventos</h1>
      </header>
      <div class="body-events">
        <div class="content-events" id="content-events"> 
          <!--ajax-->
        </div>
      </div>
    </section>
    <footer class="app-footer">
      <div class="content">
        <div class="column">
          <p class="title">Brunella Bevanente</p><a class="link" href="https://emcforwoman.legisdam.com/">Mujeres Empoderadas</a><a class="link" href="index.php?url=about">Sobre Mi</a><a class="link" href="index.php?url=coaching">Coaching</a><a class="link" href="index.php?url=blog">Blog</a>
        </div>
        <div class="column">
          <p class="title">Siguenos en : </p><a class="link" href="">Facebook</a><a class="link" href="">Twitter</a>
        </div><img class="image-decoration" src="view/assets/icon.png" alt=""/>
      </div>
      <div class="copyright">
        <p>(2019) Derechos Reservados a M&D DADA</p>
      </div>
    </footer>
    <div class="content-floating">
      <div class="btn-contact"><a class="icon" href="https://api.whatsapp.com/send?phone=+51 974213600&amp;amp;text=Hola Brunella" target="_blank"><i class="fab fa-whatsapp"></i></a></div>
      <div class="nav-icon" id="nav-icon-responsive"><i class="fa fa-bars"></i></div>
      <div class="nav-responsive animate" id="nav-content-responsive">
        <div class="links-nav"><a class="link" href="index.php?url=home">Home</a><a class="link" href="index.php?url=about">Acerca de Mi</a><a class="link" href="index.php?url=coaching">Coaching</a><a class="link" href="index.php?url=events">Eventos</a><a class="link" href="index.php?url=blog">Blog</a><a class="link" href="index.php?url=contact">Contactanos</a></div>
        <div class="icon-close" id="close-nav-responsive"><i class="fa fa-times"></i></div>
      </div><a class="galery-icon" href="index.php?url=home#galeria"><i class="fa fa-image"></i></a>
    </div>
    <script>
       AOS.init()</script>
  </body>
</html>