extends ../templates/base
block title
  title Blog
block css
   link(rel="stylesheet", href="../css/detail_blog.css")
block content
    .preview-blog-main 
        img.image-main(src="https://www.infobae.com/new-resizer/iC3CWZOm-upJqB5TvF2kBllhg18=/750x0/filters:quality(100)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2019/04/26170711/portada-barcos-eeuu-estrecho-ormuz-final.jpg",alt="main-image")
        .content-description
            h1.title Lorem ipsum dolor sit amet consectetur 
            p.text-description 
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore modi doloribus necessitatibus eius cumque, culpa voluptates error mollitia totam nostrum rem sapiente eveniet nihil facilis ad. Asperiores error eaque facere?
    .section-blog-published
        - for(var i = 0 ;i < 10 ; i++)
            .published-card 
                .container-image 
                    img.image-published(src="https://cdn.pixabay.com/photo/2015/09/16/17/09/newspaper-943004__340.jpg",alt="url image")
                .container-detail-published
                    strong.dark.title-published Lorem, ipsum dolor sit amet consectetur
                    p.text-published
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi veritatis praesentium eos nesciunt ipsa numquam a, debitis o voluptatem earum...
                    button.btn-read-more leer más