extends ../templates/base

block title
   title Homepage
block css
   link(rel="stylesheet", href="../css/detail_home.css")
block content
   .content-slider
      .slider
         .images
            img(src="https://cdn.pixabay.com/photo/2015/09/02/13/18/person-918986_960_720.jpg", alt="")
            img(src="https://cdn.pixabay.com/photo/2015/09/02/13/18/person-918986_960_720.jpg", alt="")
            img(src="https://cdn.pixabay.com/photo/2015/09/02/13/18/person-918986_960_720.jpg", alt="")
         .icons
            .circle.active
            .circle
            .circle
      .text
         p.title-text Lorem ipsum dolor sit.
         p.desc-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, quasi sint molestiae explicabo ratione facere accusantium tempore quo corporis, hic quae quidem ab eos nisi. Quis rerum dolores necessitatibus nisi debitis minima facere, excepturi, enim doloremque perferendis porro, eveniet odio?
         a(href="").btn-global Ver mas
   .central-title(data-aos="fade-up")
      p.title Services
   .content-tools(data-aos="fade-up")
      .card-tool
         .icon
            i.far.fa-smile-wink
         .desc
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum cupiditate mollitia quo eaque quaerat id!
      .card-tool
         .icon
            i.fa.fa-female
         .desc
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum cupiditate mollitia quo eaque quaerat id!
      .card-tool
         .icon
            i.fa.fa-globe
         .desc
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum cupiditate mollitia quo eaque quaerat id!
      .card-tool
         .icon
            i.fa.fa-building
         .desc
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum cupiditate mollitia quo eaque quaerat id!  
   .central-title(data-aos="fade-up")
      p.title Sobre MI
   .content-profile(data-aos="fade-up")
      .desc
         p.title Brunella Benavente
         p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam officiis velit incidunt suscipit rerum animi, odio nulla a consequuntur id perferendis reprehenderit laborum iste in numquam unde cum assumenda consectetur molestias repellendus. Optio, eveniet ipsam omnis perspiciatis obcaecati corporis quisquam labore amet. Temporibus, sed quia ab possimus est architecto quo.
      .image
         img(src="https://cdn.pixabay.com/photo/2015/03/17/14/05/sparkler-677774_960_720.jpg", alt="").img
   .central-title(data-aos="fade-up")
      p.title Images
   .content-images(data-aos="fade-up")
      -for(var i = 0;i < 8; i++)
         .image
            img(src="https://cdn.pixabay.com/photo/2016/02/18/22/41/girl-1208307_960_720.jpg", alt="").img
            .icon
               i.fa.fa-image
append js
   script(src="../js/home.js")