extends ../templates/base

block title
   title Homepage
block css
   link(rel="stylesheet", href="../css/detail_home.css")
block content
   .content-slider
      .slider
         .images
            img(src="https://cdn.pixabay.com/photo/2015/09/02/13/18/person-918986_960_720.jpg", alt="")
            img(src="https://cdn.pixabay.com/photo/2015/09/02/13/18/person-918986_960_720.jpg", alt="")
            img(src="https://cdn.pixabay.com/photo/2015/09/02/13/18/person-918986_960_720.jpg", alt="")
         .icons
            .circle
            .circle
            .circle
      .text
         p.title-text Lorem ipsum dolor sit.
         p.desc-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, quasi sint molestiae explicabo ratione facere accusantium tempore quo corporis, hic quae quidem ab eos nisi. Quis rerum dolores necessitatibus nisi debitis minima facere, excepturi, enim doloremque perferendis porro, eveniet odio?
         a(href="").btn-global Ver mas
   .central-title
      p.title(data-aos="fade-up") Services
   .content-tools(data-aos="fade-up")
      .card-tool
         .icon
            i.fa.fa-home
         .desc
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum cupiditate mollitia quo eaque quaerat id!
      .card-tool
         .icon
            i.fa.fa-home
         .desc
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum cupiditate mollitia quo eaque quaerat id!
      .card-tool
         .icon
            i.fa.fa-home
         .desc
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum cupiditate mollitia quo eaque quaerat id!
      .card-tool
         .icon
            i.fa.fa-home
         .desc
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum cupiditate mollitia quo eaque quaerat id!  
   .central-title
      p.title(data-aos="fade-up") Images
   .content-images(data-aos="fade-up")
      -for(var i = 0;i < 10; i++)
         .image
            img(src="https://cdn.pixabay.com/photo/2016/02/18/22/41/girl-1208307_960_720.jpg", alt="").img
            .icon
               i.fa.fa-image
