@import "templates/main";

.handler-click-publication-blog{
    cursor: pointer;
    &:hover{ text-decoration: underline; }
}

.not-found{
    width: 100%;
    height: 80vh;
    @include flex(column,center,center);
    .message{
        font-size: 2em;
    }
}

.section-blog{
    width: 80%;
    min-height: 100vh;
    margin: 1em auto 0 auto;
    background: #fff;
}

.section-blog > .preview-blog-main {
    width: 100%;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;

    .image-expand{
        width: 100%;
        height: 470px;
        overflow: hidden;
        position: relative;
        .image-main{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .3s;
        }
        .title{
            position: absolute;
            bottom: 0;
            color: #fff;
            left: 0;
            font-size: 2em;
            padding: 1em;
            z-index: 10;
        }
        &:after{
            content: "";
            background: linear-gradient(bottom,#000,transparent);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    .image-minus{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
        .image{
            width: 100%;
            overflow: hidden;
            height: 250px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .3s;
            }
            .title{
                position: absolute;
                bottom: 0;
                color: #fff;
                left: 0;
                font-size: 1.3em;
                padding: 1em;
                z-index: 10;
            }
            &:after{
                content: "";
                background: linear-gradient(bottom,#000,transparent);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            &:hover{
                img{ transform: scale(1.1); }
            }   
        }
    }
}

.section-blog > .delimiter-title{
    width: 100%;
    margin: 2.5em 0 1.5em 0;
    padding: 0 0 .5em 0;
    font-size: 1.5em;
    border-bottom: 1px solid rgb(230,230,230);
}

.section-blog > .section-blog-published {
    width: 100%;
    margin: 0 auto 4em auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1em;
    @import "components/published_card";
}

.publication-blog-expand{
    width: 100%;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    left: -100%;
    transition: .3s;
    z-index: 1000;
    display: flex;

    .image{
        width: 60%;
        height: 100%;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .icon{
            position: absolute;
            top: 1%;
            left: 2%;
            color: #fff;
            cursor: pointer;
            font-size: 2em;
            z-index: 2;
            &.handleModal{
                top: initial;
                left: initial;
                bottom: 2%;
                right: 2%;
            }
        }
        &:after{
            content : "";
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.4);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    
    .content-publication{
        width: 40%;
        height: 100%;
        overflow: auto;
        .data-description{
            width: 100%;
            height: 55%;
            overflow: auto;
            .title{
                font-size: 1.4em;
                padding: .5em 1em;
                @include flex(row,flex-start,center);
            }
            .content{
                line-height: 1.4em;
                padding: .5em 1.5em;
                color: lighten(#000,45);
            }
            &::-webkit-scrollbar{
                display: none;
            }
        }
        .content-extra{
            width: 100%;
            height: 45%;
            overflow: auto;
            .view-comments{
                width: 100%;
                height: 100%;
                padding: 0 1em;
                position: relative;
                @import "components/comment";
                .loader-comment{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    @include flex(column,center,center);
                    .subtitle{
                        font-size: 1.2em;
                        padding-bottom: 1.5em;
                        color: #000;
                    }
                    .loader{
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        border: 3px solid transparent;
                        border-bottom: 3px solid $color-base;
                        animation: animate-loader .6s infinite linear;

                        @keyframes animate-loader{
                            to{ transform: rotate(0); }
                            from{ transform: rotate(1turn); }
                        }
                    } 
                }
            }
        }


    }

    .create-comment{
        width: 30%;
        margin: auto;
        position: absolute;
        bottom: 3%;
        left: 2%;
        background: #fff;
        .subtitle{
            font-size: 1.2em;
            padding: 2em 2em 1.2em 2em;
        }
        .create{
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
            padding: 0 2em 2.5em 2em;
            .input{
                width: 100%; 
                padding: .5em;
                border: 1px solid rgb(230,230,230);
                &.t-area{
                    resize: none;
                    height: 100px;
                }
                &.sub{
                    background: rgb(230,230,230);
                    cursor: pointer;
                }
            }
            .user,.buttons{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
            }
        }

        &.animate{
            transition:.5s;
            bottom: -100%;
            opacity: .4;
            transform:scale(.5);
            transform-origin: top;
        }
        &:not(.animate) {
            opacity:1;
            transform: none;
            animation: create-animate-show .5s 1;
            @keyframes create-animate-show {
                from {
                    transform-origin: bottom;
                    transform: scale(.5);
                    opacity: .4;
                }
            }
        }
    }

    &.animate{
        left: 0;
    }
}


@import "./templates/footer.scss"