nav.app-menu
   ul.list
      li.option: a(href="home.html").link Home
      li.option: a(href="about.html").link Acerca de Mi
      li.option: a(href="coaching.html").link Coaching
      li.option: a(href="home.html#galeria").link Galeria
      li.option: a(href="blog.html").link Blog
      li.option: a(href="home.html#contact").link Contactanos