@import "https://fonts.google.com/specimen/Muli";
@import "https://fonts.google.com/specimen/Muli";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif; }

html {
  scroll-behavior: smooth; }

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

button {
  cursor: pointer; }

input, button, textarea {
  background: none;
  border: none;
  outline: none;
  resize: none; }
  input[type="number"]::-webkit-inner-spin-button, button[type="number"]::-webkit-inner-spin-button, textarea[type="number"]::-webkit-inner-spin-button {
    display: none; }

li {
  list-style: none; }

a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none; }

body {
  -webkit-animation: show .3s 1 ease;
  animation: show .3s 1 ease; }

@-webkit-keyframes show {
  from {
    opacity: 0.4; } }

@keyframes show {
  from {
    opacity: 0.4; } }

body::-webkit-scrollbar {
  background: #f0f0f0;
  width: 8px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  body::-webkit-scrollbar:hover {
    background: white; }

body::-webkit-scrollbar-thumb {
  background: #de0d6b;
  border-radius: 5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

body::-webkit-scrollbar-thumb:vertical:hover {
  background: #e63c5a; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif; }

html {
  scroll-behavior: smooth; }

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

button {
  cursor: pointer; }

input, button, textarea {
  background: none;
  border: none;
  outline: none;
  resize: none; }
  input[type="number"]::-webkit-inner-spin-button, button[type="number"]::-webkit-inner-spin-button, textarea[type="number"]::-webkit-inner-spin-button {
    display: none; }

li {
  list-style: none; }

a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none; }

body {
  -webkit-animation: show .3s 1 ease;
  animation: show .3s 1 ease; }

@keyframes show {
  from {
    opacity: 0.4; } }

body::-webkit-scrollbar {
  background: #f0f0f0;
  width: 8px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  body::-webkit-scrollbar:hover {
    background: white; }

body::-webkit-scrollbar-thumb {
  background: #de0d6b;
  border-radius: 5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

body::-webkit-scrollbar-thumb:vertical:hover {
  background: #e63c5a; }

.btn-contact {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  position: fixed;
  bottom: 2%;
  right: 1%;
  background: #25d366;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.8em;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .btn-contact .icon {
    color: #fff;
    cursor: pointer; }
    .btn-contact .icon:active {
      -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
      transform: scale(0.95); }
  .btn-contact.hide {
    right: -100%; }

.app-title {
  width: 100%;
  max-height: 140px;
  padding: 1.3em 1em;
  position: relative;
  background: #fff;
  /*.title{
      font-size: 1.2em;
      text-align: center;
      color: white;
   }*/ }
  .app-title .icon {
    text-align: center; }
    .app-title .icon img {
      width: 360px; }

.app-menu {
  width: 100%;
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(#223B90), to(#de0d6b));
  background: -webkit-linear-gradient(bottom, #223B90, #de0d6b);
  background: -o-linear-gradient(bottom, #223B90, #de0d6b);
  background: linear-gradient(bottom, #223B90, #de0d6b);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .app-menu.animate {
    top: -100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.app-menu > .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .app-menu > .list .option {
    position: relative; }
    .app-menu > .list .option:hover > .sub-list {
      visibility: visible;
      opacity: 1;
      left: 0; }
  .app-menu > .list .option > .sub-list {
    position: absolute;
    border-bottom: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    visibility: hidden;
    opacity: 0;
    left: -15px;
    z-index: 10; }
  .app-menu > .list .option .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 3.5em;
    padding: 0 1em;
    font-size: 1.1em;
    color: #fff; }
    .app-menu > .list .option .link span {
      margin-left: 5px;
      font-size: 0.8em; }
    .app-menu > .list .option .link:hover {
      text-decoration: underline; }
    .app-menu > .list .option .link.sub {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      border-top: 1px solid #e6e6e6; }

.panel-contact {
  width: 100%;
  margin: 4em auto;
  padding: 20px;
  border-top: 1px solid #e6e6e6; }
  .panel-contact .title {
    width: 80%;
    margin: 0 auto;
    padding: 4em 0.3em 1.5em 0.3em; }
    .panel-contact .title .t {
      font-size: 2.2em;
      background: -webkit-gradient(linear, left bottom, left top, from(#223B90), to(#de0d6b));
      background: -webkit-linear-gradient(bottom, #223B90, #de0d6b);
      background: -o-linear-gradient(bottom, #223B90, #de0d6b);
      background: linear-gradient(bottom, #223B90, #de0d6b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  @media screen and (max-width: 1100px) {
    .panel-contact .title {
      width: 100%;
      text-align: center; } }
  .panel-contact .content {
    width: 80%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; }
    .panel-contact .content .container-form {
      width: 100%; }
      .panel-contact .content .container-form .header-title {
        width: 100%;
        padding: 0 5px; }
        .panel-contact .content .container-form .header-title .title-panel {
          color: #de0d6b;
          margin-bottom: 20px; }
        .panel-contact .content .container-form .header-title .message-panel {
          font-size: .9em;
          color: gray;
          line-height: 20px;
          margin-bottom: 20px; }
      .panel-contact .content .container-form .contact-form {
        max-width: 100%;
        background: white;
        border-radius: 5px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr); }
        @media screen and (max-width: 600px) {
          .panel-contact .content .container-form .contact-form {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: (1fr)[1];
            grid-template-columns: repeat(1, 1fr); } }
        .panel-contact .content .container-form .contact-form .row {
          margin: 5px; }
          @media screen and (max-width: 600px) {
            .panel-contact .content .container-form .contact-form .row {
              margin: 10px 0; } }
          .panel-contact .content .container-form .contact-form .row.row-message {
            -ms-grid-column-span: 2;
            grid-column: span 2; }
            @media screen and (max-width: 600px) {
              .panel-contact .content .container-form .contact-form .row.row-message {
                grid-column: auto; } }
          .panel-contact .content .container-form .contact-form .row .text-field {
            background: white;
            width: 100%;
            padding: 10px;
            border: 1px solid rgba(100, 100, 100, 0.15);
            margin-bottom: 5px;
            font-size: .85em;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
            .panel-contact .content .container-form .contact-form .row .text-field:focus {
              border-color: rgba(230, 60, 90, 0.5);
              color: #f32b85; }
          .panel-contact .content .container-form .contact-form .row .validity-form {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: none;
            -ms-flex-pack: none;
            justify-content: none;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%; }
            .panel-contact .content .container-form .contact-form .row .validity-form .text-validity {
              color: #de0d6b;
              margin: 0 10px; }
          .panel-contact .content .container-form .contact-form .row .button-send {
            margin-left: auto;
            padding: 0 1in;
            font-size: .9em;
            width: 100%;
            cursor: pointer;
            font-weight: bold; }
    .panel-contact .content .container-politics {
      width: 80%;
      margin: 0 auto; }
      .panel-contact .content .container-politics .title-politics {
        color: #1f1f1f;
        margin-bottom: 20px;
        font-size: 1.5em; }
      .panel-contact .content .container-politics .list-politics .item {
        color: #737373;
        list-style-type: disc;
        line-height: 20px;
        font-size: .85em;
        padding: 5px 0;
        margin: 0 0 0 1em; }
      @media screen and (max-width: 1100px) {
        .panel-contact .content .container-politics {
          width: 100%;
          margin-top: 4em; } }
      @media screen and (max-width: 600px) {
        .panel-contact .content .container-politics {
          width: 100%;
          text-align: center; }
          .panel-contact .content .container-politics .list-politics .item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; } }
    @media screen and (max-width: 1100px) {
      .panel-contact .content {
        display: block;
        widows: 100%; }
        .panel-contact .content .container-form {
          text-align: center; } }

.btn-global {
  padding: 0 .8em;
  line-height: 2.5em;
  background: #de0d6b;
  color: #fff;
  font-size: 1.1em;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .btn-global.minun {
    font-size: 0.8em; }
  .btn-global:hover {
    border-radius: 1.5em;
    background: #c60c5f; }
  .btn-global:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95); }

.view-images-expand {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0;
  -o-transition: 0;
  transition: 0; }
  .view-images-expand .image {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .view-images-expand .image .container-images {
      width: 70%;
      height: 100%;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto; }
      .view-images-expand .image .container-images .image-expand {
        width: 100%;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
    .view-images-expand .image .left, .view-images-expand .image .right {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      color: #fff;
      font-size: 2.5em;
      cursor: pointer;
      padding: 1em; }
    .view-images-expand .image .left {
      left: 5%; }
      .view-images-expand .image .left.active {
        color: #999;
        cursor: initial; }
    .view-images-expand .image .right {
      right: 5%; }
      .view-images-expand .image .right.active {
        color: #999;
        cursor: initial; }
  .view-images-expand .close {
    color: #fff;
    font-size: 2em;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer; }
  .view-images-expand.animate {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    visibility: visible;
    opacity: 1; }

.container-landing-main {
  width: 80%;
  margin: 5em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .container-landing-main .image, .container-landing-main .text {
    width: 50%; }
  .container-landing-main .image img {
    width: 100%; }
  .container-landing-main .text {
    padding: 0 2em; }
    .container-landing-main .text .title-text {
      font-size: 2em;
      padding-bottom: 1em;
      color: #de0d6b;
      position: relative; }
    .container-landing-main .text .desc-text {
      font-size: 1.1em;
      line-height: 1.5em;
      padding-bottom: 2em;
      color: #737373; }

.great-message {
  width: 100%;
  text-align: center;
  padding: 3em 0;
  border-top: 1px solid #e6e6e6; }
  .great-message .title {
    width: 40%;
    margin: auto;
    font-size: 2em;
    margin-bottom: 1em;
    position: relative; }
    .great-message .title .l-a {
      font-size: 1.4em; }
    .great-message .title .l-m {
      font-size: 1.8em; }
  .great-message .desc-text-great {
    font-size: 1.1em;
    line-height: 1.5em;
    color: #737373;
    margin: auto;
    padding: 0 3em;
    width: 55%; }

.cards-more-details {
  margin: auto;
  width: 100%;
  padding: 2em 0 2em 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6; }
  .cards-more-details .container {
    width: 80%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .cards-more-details .container .card_simple {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      width: 500px;
      background: #de0d6b;
      color: white;
      margin: 3em 1em 3em 0;
      padding: 1.5em; }
      .cards-more-details .container .card_simple .card-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
        .cards-more-details .container .card_simple .card-header .image {
          position: relative;
          width: 40px; }
          .cards-more-details .container .card_simple .card-header .image img {
            width: 80px;
            height: 80px;
            -o-object-fit: cover;
            object-fit: cover;
            position: absolute;
            -webkit-transform: translateX(-75%) translateY(-75%);
            -ms-transform: translateX(-75%) translateY(-75%);
            transform: translateX(-75%) translateY(-75%);
            -webkit-filter: brightness(80%);
            filter: brightness(80%);
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
        .cards-more-details .container .card_simple .card-header .text {
          padding-bottom: 1em; }
          .cards-more-details .container .card_simple .card-header .text .text-detail {
            padding-bottom: 5px;
            font-size: .9em;
            color: #f88cbd; }
          .cards-more-details .container .card_simple .card-header .text .text-title {
            font-size: 1.8em; }
      .cards-more-details .container .card_simple .card-body-desc .text {
        font-size: .9em;
        line-height: 25px; }
      .cards-more-details .container .card_simple:fist-child {
        margin-top: 0; }
      .cards-more-details .container .card_simple:last-child {
        margin-left: 0; }
      .cards-more-details .container .card_simple:hover .card-header > .image > img {
        -webkit-transform: translateX(-50%) translateY(-50%) scale(1.1);
        -ms-transform: translateX(-50%) translateY(-50%) scale(1.1);
        transform: translateX(-50%) translateY(-50%) scale(1.1);
        border-radius: 50%; }

.title-cards {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  padding: 1.5em 0;
  text-align: center; }
  .title-cards .title {
    font-size: 2.5em;
    background: -webkit-gradient(linear, left bottom, left top, from(#223B90), to(#de0d6b));
    background: -webkit-linear-gradient(bottom, #223B90, #de0d6b);
    background: -o-linear-gradient(bottom, #223B90, #de0d6b);
    background: linear-gradient(bottom, #223B90, #de0d6b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.content-cards {
  width: 70%;
  margin: 4em auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em; }
  .content-cards .card-image {
    width: 100%;
    height: 320px;
    padding: 1em 1.5em;
    position: relative;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .content-cards .card-image:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6); }
    .content-cards .card-image .title, .content-cards .card-image .text {
      position: relative;
      z-index: 2; }
    .content-cards .card-image .title {
      font-size: 2em;
      padding-bottom: .2em; }
    .content-cards .card-image .text {
      font-size: 0.9em; }
    .content-cards .card-image:nth-child(1n) {
      background-image: url("https://cdn.pixabay.com/photo/2016/12/15/03/27/cocoa-1908020_960_720.jpg"); }
    .content-cards .card-image:nth-child(2n) {
      background-image: url("https://cdn.pixabay.com/photo/2018/10/30/16/03/christmas-tree-3784021_960_720.jpg"); }
    .content-cards .card-image:nth-child(3n) {
      background-image: url("https://cdn.pixabay.com/photo/2019/12/09/17/46/hochybrig-4683994_960_720.jpg"); }

.app-footer {
  border-top: 1px solid #e6e6e6; }
  .app-footer .content {
    font-size: 1.1em;
    padding: 3em 4em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    .app-footer .content .column {
      border-left: 1px solid #e6e6e6;
      padding-left: 1em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .app-footer .content .column .title {
        padding-bottom: 1em;
        color: #f32b85;
        font-size: 1.05em; }
      .app-footer .content .column .link {
        color: gray;
        margin-bottom: .5em;
        font-size: 0.9em; }
        .app-footer .content .column .link:hover {
          color: #f11377; }
        .app-footer .content .column .link:first-letter {
          font-size: 1.1em; }
  .app-footer .copyright {
    text-align: center;
    padding: 2.5em 1em .5em 1em;
    color: #fff;
    background: #de0d6b;
    text-transform: uppercase;
    font-size: 0.8em; }
