
<div class="panel-contact"> 
  <div class="header-title"> 
    <h1 class="title-panel">Hola! Contactenos ahora</h1>
    <p class="message-panel">Para poder brindarte nuestros servicios necesitamos que nos brindes tu información</p>
  </div>
  <div class="container-form">
    <form class="contact-form" action=".">
      <div class="row">
        <label class="name-field">Nombre</label>
        <input class="text-field" type="text" name="name" placeholder="nombre completo..." spellcheck="false" required="required"/>
      </div>
      <div class="row">
        <label class="name-field">Correo electrónico</label>
        <input class="text-field" type="email" name="email" placeholder="correo electrónico..." spellcheck="false" required="required"/>
      </div>
      <div class="row">
        <label class="name-field">Número telefonico</label>
        <input class="text-field" type="number" name="phone" placeholder="numero telefónico..." spellcheck="false" required="required"/>
      </div>
      <div class="row row-message">
        <label class="name-field">Mensaje</label>
        <textarea class="text-field text-message" name="message" placeholder="escribenos un mensaje..." rows="5" spellcheck="false" required="required"></textarea>
      </div>
      <div class="row"> 
        <div class="validity-form">
          <input type="checkbox" name="validity"/><small class="text-validity">Acepto las politicas de privacidad</small>
        </div>
      </div>
      <div class="row">
        <input class="btn-global button-send" type="submit"/>
      </div>
    </form>
  </div>
  <div class="container-politics">
    <h1 class="title-politics">Politicas de privacidad:</h1>
    <ul class="list-politics">
      <li class="item">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
      <li class="item">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
      <li class="item">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
    </ul>
  </div>
</div>