.app-title{
   width: 100%;
   max-height: 140px;
   padding: 1.3em 1em;
   position: relative;
   background: #fff;
   //background:darken($color: $color-base, $amount: 4);
   .icon{ 
      text-align: center;
      img{
         width: 360px;
      }
   }
   /*.title{
      font-size: 1.2em;
      text-align: center;
      color: white;
   }*/
}