
<nav class="app-menu">
  <ul class="list">
    <li class="option"><a class="link" href="index.php?url=home">Home</a></li>
    <li class="option"><a class="link" href="index.php?url=about">Acerca de Mi</a></li>
    <li class="option"><a class="link" href="index.php?url=coaching">Coaching</a></li>
    <li class="option"><a class="link" href="index.php?url=home#galeria">Galeria</a></li>
    <li class="option"><a class="link" href="index.php?url=blog">Blog</a></li>
    <li class="option"><a class="link" href="#contact">Contactanos</a></li>
  </ul>
</nav>