.view-images-expand#content-images-hide
   .image
      .container-images#content-images-slider
         img(src="https://cdn.pixabay.com/photo/2019/12/29/15/45/paragliding-4727377_960_720.jpg", alt="").image-expand
      .left#btn-left
         i.fa.fa-chevron-left
      .right#btn-right
         i.fa.fa-chevron-right
   .close#btn-close
      i.fa.fa-times