
<div class="card_simple" data-aos="zoom-in-down">
  <div class="card-header"> 
    <div class="row text">
      <p class="text-detail">adipisicing</p>
      <h3 class="text-title">Lorem ipsum dolor sit</h3>
    </div>
  </div>
  <div class="card-body-desc">
    <p class="text">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet illo ipsum ducimus tenetur. Iure recusandae molestiae quae earum quam explicabo veritatis laudantium numquam officiis, amet sequi natus excepturi aliquid fugit.</p>
  </div>
</div>
<div class="card_simple" data-aos="zoom-in-down">
  <div class="card-header"> 
    <div class="row text">
      <p class="text-detail">adipisicing</p>
      <h3 class="text-title">Lorem ipsum dolor sit</h3>
    </div>
  </div>
  <div class="card-body-desc">
    <p class="text">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet illo ipsum ducimus tenetur. Iure recusandae molestiae quae earum quam explicabo veritatis laudantium numquam officiis, amet sequi natus excepturi aliquid fugit.</p>
  </div>
</div>