
<div class="nav-icon" id="nav-icon-responsive"><i class="fa fa-bars"></i></div>
<div class="nav-responsive animate" id="nav-content-responsive">
  <div class="links-nav"><a class="link" href="index.php?url=home">Home</a><a class="link" href="index.php?url=about">Acerca de Mi</a><a class="link" href="index.php?url=coaching">Coaching</a><a class="link" href="index.php?url=events">Eventos</a><a class="link" href="index.php?url=blog">Blog</a><a class="link" href="index.php?url=contact">Contactanos</a></div>
  <div class="icon-close" id="close-nav-responsive"><i class="fa fa-times"></i></div>
</div>