
<div class="video-content">
  <div class="video">
    <video class="container-source" preload="auto" id="video"> 
      <source src="./wolf.mp4" type="video/mp4"/>
    </video>
  </div>
  <div class="controls">
    <div class="button-play" id="button-play"><i class="fa fa-play-circle"></i></div>
    <div class="button-stop" id="button-stop"><i class="fa fa-stop"></i></div>
    <div class="progress-bar">
      <div class="bar" id="bar">
        <div class="internal-bar" id="internal-bar"></div>
      </div>
      <div class="text">
        <p class="t"><span id="time">00:00</span> / <span id="time-final">00:00</span></p>
      </div>
    </div>
    <div class="button-sound" id="button-sound"><i class="fa fa-volume-up"></i></div>
  </div>
</div>