
<div class="view-images-expand" id="content-images-hide">
  <div class="image">
    <div class="container-images" id="content-images-slider"><img class="image-expand" src="https://cdn.pixabay.com/photo/2019/12/29/15/45/paragliding-4727377_960_720.jpg" alt=""/></div>
    <div class="left" id="btn-left"><i class="fa fa-chevron-left"></i></div>
    <div class="right" id="btn-right"><i class="fa fa-chevron-right"></i></div>
  </div>
  <div class="close" id="btn-close"><i class="fa fa-times"></i></div>
</div>