<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      block title
      block css
      link(href="https://unpkg.com/aos@2.3.1/dist/aos.css",rel="stylesheet")
      script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
   body
      block header-content
         include header
         include nav
      section.app-content
         block content
      block footer-content
         include aside
         include footer
      block floating-content
         include ../components/btn_contact
      block js
         script(src="view/js/icons.js?v=1.1")
         script(src="view/js/all.js?v=1.1")
      script 
        | AOS.init()
