- let version = 4;

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      block title
      block css
      link(href="https://unpkg.com/aos@2.3.1/dist/aos.css",rel="stylesheet")
      script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
      script(src=`view/js/icons.js?v=${version}` async)
      script(src=`view/js/all.js?v=${version}`)
   body
      block header-content
         include header
         include nav
      section.app-content
         block content
      block footer-content
         include footer
      block floating-content
         .content-floating
            include ../components/btn_contact
            include ../components/nav_responsive
            include ../components/btn_galery
      script 
        | AOS.init()
