footer.app-footer
   .content
      .column
         p.title Brunella Bevanente
         a(href="https://emcforwoman.legisdam.com/").link Mujeres Empoderadas
         a(href="index.php?url=about").link Sobre Mi
         a(href="index.php?url=coaching").link Coaching
         a(href="index.php?url=blog").link Blog
      .column
         p.title Siguenos en : 
         a(href="").link Facebook
         a(href="").link Twitter
      img(src="view/assets/icon.png", alt="").image-decoration
   .copyright
      p (2019) Derechos Reservados a M&D DADA