nav.app-menu
   ul.list
      li.option: a(href="index.php?url=home").link Home
      li.option: a(href="index.php?url=about").link Acerca de Mi
      li.option: a(href="index.php?url=coaching").link Coaching
      li.option: a(href="index.php?url=home#galeria").link Galeria
      li.option: a(href="index.php?url=blog").link Blog
      li.option: a(href="index.php?url=contact").link Contactanos