.card_simple {
    @include flex(column);
    width: 500px;
    background: $color-base;
    color: white;
    margin: 3em 1em 3em 0;
    padding: 1.5em;
    .card-header {
      @include flex();
      .image {
        $width-image : 80px;
        position: relative;
        width: $width-image / 2;
        img {
          width: $width-image;
          height: $width-image;
          object-fit: cover;
          position: absolute;
          transform: translateX(-75%) translateY(-75%);
          filter: brightness(80%);
          transition: .3s;
        }
      }
      .text {
        padding-bottom: 1em;
        .text-detail {
          padding-bottom: 5px;
          font-size: .9em;
          color: lighten($color-base, 30);
        }
        .text-title {
          font-size: 1.8em;
        }
      }
    }
    .card-body-desc {
      .text {
        font-size: .9em;
        line-height: 25px;
      }
    }
    &:fist-child{ margin-top: 0; }
    &:last-child{ margin-left: 0; }
    &:hover{
      .card-header > .image > img{
        transform: translateX(-50%) translateY(-50%) scale(1.1);
        border-radius: 50%;
      }
    }
}
