.published-card {
    background: white;
    box-shadow: 0 3px 5px lighten($color: #000, $amount: 80);
    width: 250px;
    margin:0;
    margin-bottom: 50px;
    @include flex(column,center,none);
    .container-image {
            @include flex();
            overflow: hidden;
            .image-published {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .3s;
            }
            &:hover {
                .image-published {
                    transform: scale(1.2);
                }
            }
    }
    .container-detail-published {
        padding: 20px;
        .title-published {
            display: block;
            margin-bottom: 20px;
            color: rgb(40,40,40);
            font-size: 1.1em;
            line-height: 25px;
        }
        .text-published {
            color:lighten($color: #000, $amount: 45);
            font-size: .9em;
            line-height: 20px;
        }
        .btn-read-more{
            color: $color-base;
            padding: 10px 0;
        }
    }
}