-for(var i = 0; i < 2; i++)
  .card_simple(data-aos="zoom-in-down")
    .card-header 
      .row.text
        p.text-detail adipisicing
        h3.text-title Lorem ipsum dolor sit
    .card-body-desc
      p.text 
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet illo ipsum ducimus tenetur. Iure recusandae molestiae quae earum quam explicabo veritatis laudantium numquam officiis, amet sequi natus excepturi aliquid fugit.