
<div class="card_simple">
  <div class="card-header"> 
    <div class="row image"><img src="https://images.pexels.com/photos/1036623/pexels-photo-1036623.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" alt="image-card"/></div>
    <div class="row text">
      <p class="text-detail">adipisicing</p>
      <h3 class="text-title">Lorem ipsum dolor sit</h3>
    </div>
  </div>
  <div class="card-body-desc">
    <p class="text">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet illo ipsum ducimus tenetur. Iure recusandae molestiae quae earum quam explicabo veritatis laudantium numquam officiis, amet sequi natus excepturi aliquid fugit.</p>
  </div>
</div>
<div class="card_simple">
  <div class="card-header"> 
    <div class="row image"><img src="https://ak3.picdn.net/shutterstock/videos/27606493/thumb/1.jpg" alt="image-card"/></div>
    <div class="row text">
      <p class="text-detail">adipisicing</p>
      <h3 class="text-title">Lorem ipsum dolor sit</h3>
    </div>
  </div>
  <div class="card-body-desc">
    <p class="text">
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque ea nemo eveniet nostrum laboriosam eum ratione incidunt alias nam, quisquam cupiditate velit fugiat esse distinctio, at dicta quo cumque debitis.</p>
  </div>
</div>