extends ../templates/base

block title
    title Blog
block css    
    link(rel="stylesheet", href="../css/detail_blog.css")
block content 
    section.section-blog
        .preview-blog-main 
            .image-expand
                img.image-main.handler-image-publication-blog(src="https://cdn.pixabay.com/photo/2019/12/13/18/24/amsterdam-4693608_960_720.jpg",alt="main-image")
                h4.title.handler-click-publication-blog Lorem ipsum dolor sit amet.
            .image-minus
                .image
                    img.handler-image-publication-blog(src="https://cdn.pixabay.com/photo/2019/12/29/15/45/paragliding-4727377_960_720.jpg",alt="main-image")
                    h4.title.handler-click-publication-blog Lorem ipsum dolor sit amet.
                .image
                    img.handler-image-publication-blog(src="https://cdn.pixabay.com/photo/2019/12/28/20/31/conifer-4725680_960_720.jpg",alt="main-image")
                    h4.title.handler-click-publication-blog Lorem ipsum dolor sit amet.
                .image 
                    img.handler-image-publication-blog(src="https://cdn.pixabay.com/photo/2019/12/30/20/35/snow-4730565_960_720.jpg",alt="main-image")
                    h4.title.handler-click-publication-blog Lorem ipsum dolor sit amet.
        .delimiter-title
            p Publicaciones
        .section-blog-published
            - for(var i = 0 ;i < 8 ; i++)
                .published-card(data-aos="zoom-in")
                    .container-image 
                        img.image-published.handler-image-publication-blog(src="https://cdn.pixabay.com/photo/2015/09/16/17/09/newspaper-943004__340.jpg",alt="url image")
                    .container-detail-published
                        strong.dark.title-published Lorem, ipsum dolor sit amet consectetur
                        p.text-published
                            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi veritatis praesentium eos nesciunt ipsa numquam a, debitis o voluptatem earum...
                        button.btn-read-more.handler-click-publication-blog Leer más
block footer-content
    include ../templates/footer
append floating-content
    .publication-blog-expand
        .image
            img(src="", alt="")
            .icon#close-publication-blog
                i.fa.fa-times
        .content-publication
            .data-description
                p.title Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, quas!
                p.content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum cumque animi est illo consequuntur facere, deserunt labore perspiciatis quis sit facilis numquam accusantium temporibus modi magnam tempora repudiandae ab dolores at magni ea dolor nulla sed itaque? Recusandae rem sequi doloribus maxime expedita sed modi quam? Quidem ullam inventore amet sit expedita ratione fugit quae iusto totam? Ad nesciunt nisi animi enim delectus nihil suscipit? Praesentium culpa non dolorem eos ducimus earum iure sit delectus neque! Aspernatur eius beatae voluptatibus inventore sunt odit harum ducimus. Odio, quisquam excepturi. Laboriosam fugiat corrupti error nihil quis. Eos incidunt porro quis qui recusandae.
            .content-extra
                .view-comments
                    .loader-comment
                        p.subtitle Loading Comments...
                        .loader
                        .create-comment
            .create-comment.animate
                p.subtitle Create New Comment
                form.create
                    .user
                        input(type="text" placeholder="User").input
                        input(type="email" placeholder="Email").input
                    .message
                        textarea(name="" placeholder="Comment").input.t-area
                    .buttons
                        input(type="submit", value="Send").input.sub
                        button(type="button").input Close