#contact
aside.panel-contact(data-aos="zoom-in")
  .title
    p.t Contactanos
  .content
    .container-form
      .header-title 
        p.message-panel Para poder brindarte nuestros servicios necesitamos que nos brindes tu información
      form.contact-form(action=".")
        .row
          input.text-field(type="text",autocomplete="off",name="name",placeholder="Nombre completo",spellcheck="false",required)
        .row
          input.text-field(type="email",autocomplete="off",name="email",placeholder="Correo electrónico",spellcheck="false",required)
        .row
          input.text-field(type="number",autocomplete="off",name="phone",placeholder="Numero telefónico",spellcheck="false",required)
        .row.row-message
          textarea.text-field.text-message(name="message",placeholder="Escribenos un mensaje",rows="5",spellcheck="false",required)
        .row.row-button
          input.btn-global.button-send(type="submit")
    .container-politics
      p.title-politics Politicas de privacidad:
      ul.list-politics
        li.item 
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        li.item 
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        li.item 
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
