footer.app-footer(data-aos="fade-up")
   .content
      .column
         p.title Lorem ipsum dolor sit.
         a(href="").link Mujeres Empoderadas
         a(href="").link Sobre Mi
      .column
         p.title Siguenos en : 
         a(href="").link Facebook
         a(href="").link Twitter
         a(href="").link Instagram
   .copyright
      p (2019) Derechos Reservador a M&D DADA