nav.app-menu
   ul.list
      li.option: a(href="").link Home
      li.option: a(href="").link Option-1
      li.option
         a(href="").link Option-2
         ul.sub-list
            li.sub-option: a(href="").link.sub Sub-Option-1
            li.sub-option: a(href="").link.sub Sub-Option-2