nav.app-menu
   ul.list
      li.option: a(href="home.html").link Home
      li.option: a(href="about.html").link Acerca de Mi
      li.option: a(href="coaching.html").link Coaching
      li.option: a(href="home.html#galeria").link Galeria
       li.option: a(href="home.html#services").link Servicios
        li.option: a(href="home.html#contact").link Contactanos
      //li.option
         a(href="").link 
            | Servicios
            span: i.fa.fa-chevron-down
         ul.sub-list
            li.sub-option: a(href="home.html").link.sub Lorem, ipsum dolor.    