nav.app-menu
   ul.list
      li.option: a(href="home.html").link Home
      li.option: a(href="about.html").link Sobre Nosotros
      li.option
         a(href="").link Option-2
         ul.sub-list
            li.sub-option: a(href="").link.sub Sub-Option-1
            li.sub-option: a(href="").link.sub Sub-Option-2      
