

.panel-contact {
  @include flex(row,space-between);
  flex-wrap: wrap;
  margin: 20px auto;
  width:80%;
  padding: 20px;

  @include responsive(1200px) {
    width: 90%;
  }

  > * {
    width: 45%;
    @include responsive(900px) {
      width: 100%;
    }
  }
  .header-title {
    width: 100%;
    padding: 20px 0 2em;
    > * {
      width: 50%;
      @include responsive(700px) {
        width: 70%;
      }

      @include responsive(600px) {
        width: 100%;
      }

    }
    .title-panel {
      padding: 10px 0;
      color: $color-base;
    }
    .message-panel {
      font-size: .9em;
      color: gray;
      line-height: 20px;
    }
  }
  .container-form {
    @import "../components/form_contact";
  }
  .container-politics {
      @include responsive(600px) {
        text-align: center;
        margin: 40px auto;
      }
      .title-politics {
        color: rgb(40,40,40);
        margin-bottom: 20px;
      }
      .list-politics {
        .item {
          color: rgb(80,80,80);
          list-style-type: disc;
          line-height: 20px;
          font-size: .9em;
          padding: 10px 0;
          @include responsive(600px) {
            list-style-type: none;
          }
        }
      }
  }

}
