

.panel-contact {
  @include flex(row,space-between);
  flex-wrap: wrap;
  margin: 40px auto;
  width:80%;
  padding: 20px;

  @include responsive(1200px) {
    width: 90%;
  }

  > * {
    width: 45%;
    @include responsive(900px) {
      width: 100%;
    }
  }
  .container-form {
    .header-title {
      padding: 0 5px;
      width: 100%;
      > * {
        @include responsive(700px) {
          width: 70%;
        }

        @include responsive(600px) {
          width: 100%;
        }

      }
      .title-panel {
        color: $color-base;
        margin-bottom: 20px;
      }
      .message-panel {
        font-size: .9em;
        color: gray;
        line-height: 20px;
        margin-bottom: 20px;
      }
    }
    @import "../components/form_contact";
  }
  .container-politics {
      @include responsive(600px) {
        text-align: center;
        margin: 40px auto;
      }
      .title-politics {
        color: rgb(40,40,40);
        margin-bottom: 20px;
        font-size: 1.5em;
      }
      .list-politics {
        .item {
          color: lighten(#000,45);
          list-style-type: disc;
          line-height: 20px;
          font-size: .85em;
          padding: 5px 0;
          @include responsive(600px) {
            list-style-type: none;
          }
        }
      }
  }

}
