.app-title{
   width: 100%;
   padding: 1.3em 1em;
   position: relative;
   background: #fff;
   border-bottom: 1px solid rgb(230,230,230);
   .title{
      font-size: 2.5em;
      text-align: center;
      @include text-gradient($text-g);
   }
   .logo{
      position: absolute;
      z-index: 100;
      top: 35%;
      .img-logo{
         width: 125px;
         height: auto;
      }
   }
}