.app-footer{
   border-top: 1px solid rgb(230,230,230);
   .content{
      font-size: 1.1em;
      padding: 3em 4em;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .column{
         border-left: 1px solid rgb(230,230,230);//lighten($color-base,15);
         padding-left: 1em;
         @include flex(column);
         .title{
            padding-bottom: 1em;
            color: lighten($color-base,10);
            font-size: 1.05em;
            //color: lighten(#000,30);
         }
         .link{
            color: lighten(#000,50);
            margin-bottom: .5em;
            font-size: 0.9em;
            &:hover{ 
               color: lighten($color-base,5); 
            }
            &:first-letter{
               font-size: 1.1em;
            }
         }
      }
      @include responsive(1000px){
         grid-template-columns: 1fr 1fr 1fr;
      }
      @include responsive(800px){
         padding: 2.5em 3em;
         grid-template-columns: 1fr 1fr;
         font-size: .9em;
      }
      @include responsive(600px){
         padding: 2em 2em;
      }
      @include responsive(450px){
         grid-template-columns: 1fr;
         grid-gap: 10px;
         .column{
            border-left: none;
         }
      }
   }
   .copyright{
      text-align: center;
      padding: 2.5em 1em .5em 1em;
      color: #fff;
      background: $color-base;
      font-size: 0.8em;
   }
}