.app-title{
   width: 100%;
   max-height: 140px;
   padding: 1.3em 1em;
   position: relative;
   background: #fff;
   .icon{ 
      text-align: center;
      img{
         width: 360px;
         @include responsive(650px){ width: 300px; }
         @include responsive(450px){ width: 260px; }
      }
   }
   @include responsive(500px){ padding: 1em 1em; }
   @include responsive(400px){ padding: 1em 0 0 0; }
}