.app-menu{
   width: 100%;
   position: relative;
   background: $text-g;
   transition: .3s;
   //background: $color-base;
   //background: #fff;
   @include flex(row,center,center);
   &.animate{
      top: -100%;
      transition: .3s;
   }
}

.app-menu > .list{
   @include flex();

   .option{
      position: relative;
      &:hover > .sub-list{
         visibility: visible;
         opacity: 1;
         left: 0;
      }
   }

   .option > .sub-list{
      position: absolute;
      //border: 1px solid rgb(230,230,230);
      border-bottom: none;
      transition: .3s;
      visibility: hidden;
      opacity: 0;
      left: -15px;
      z-index: 10;
   }

   .option .link{
      @include flex(row,center,center);
      //background: $color-base;
      line-height: 3.5em;
      padding: 0 1em;
      font-size: 1.1em; 
      color: #fff;
      span{
         //transform: translateY(2px);
         margin-left: 5px;
         font-size: 0.8em;
      }
      &:hover{
         //background: lighten($color-base,10);
         text-decoration: underline;
      }
      &.sub{
         width: max-content;
         border-top: 1px solid rgb(230,230,230);
      }
   }
}
