-
   var images = [ 
      {
         link : "view/assets/event_a.jpeg"
      },
      {
         link : "view/assets/event_b.jpeg"
      }, 
      {
         link : "view/assets/event_c.jpeg"
      },
      {
         link : "view/assets/event_d.jpeg"
      },
      {
         link : "view/assets/event_e.jpeg"
      }, 
      {
         link : "view/assets/event_f.jpeg"
      },
      {
         link : "view/assets/event_g.jpeg"
      },
      {
         link : "view/assets/event_h.jpeg"
      }
   ]