.nav-icon#nav-icon-responsive
   i.fa.fa-bars
.nav-responsive.animate#nav-content-responsive
   .links-nav
      a(href="index.php?url=home").link Home
      a(href="index.php?url=about").link Acerca de Mi
      a(href="index.php?url=coaching").link Coaching
      a(href="index.php?url=blog").link Blog
      a(href="index.php?url=contact").link Contactanos
   .icon-close#close-nav-responsive
      i.fa.fa-times

      