.comment {
    @include flex();
    margin:15px 0;
    margin-left: auto;
    padding: 10px;
    width: 100%;
    .icon {
        .container-icon {
            @include flex(row,center,center);
            width: 40px;
            height: 40px;
            border-radius: 100%;
            color: silver;
            background-color:lighten(#000, 90);
        }
    }
    .detail-comment {
        padding: 0 10px;
        .commenter-name {
            color: lighten($color: #000, $amount: 20);
            margin-bottom: 10px;
            color:$color-base;
        }
        .text-comment {
            padding: 10px 0;
            line-height: 20px;
            font-size: .9em;
            color: rgb(60,60,60);
        }
        .comment-date{
            font-size: .7em;
            padding: 0;
            color: lighten($color: #000, $amount: 45);
        }
    }
}