extends ../templates/base

block title
   title About
append css
   link(rel="stylesheet", href=`view/css/detail_about.css?v=${version}`)
block content
  .container-about
    .container-detail
      .card-floating 
        .container-image
        .container-card-text
          .body-text
            strong.title Brunella Benavente
            p.text 
              | Ingeniera de Minas y Construccion, estudio en la Universidad de ---------.Fue ------- y -------- en su puesto de trabajo. Actualmente ejerce su profesion con mucha devocion. Tambien posee actitudes muy profesionales y maduras , cosa que facilita trabajar con ella.
    .panel-detail(data-aos="zoom-in-up")
      .card-panel
        h2.title-card Quien Soy
        p.description
          | Siempre fui una mujer empoderada, dispuesta a todo para alcanzar sus metas y objetivos. Aun a dia de hoy lo sigue siendo , por lo que se comprometio en brindar su apollo a las mujeres que lo necesiten. Por ello fundo esta pequeña sociedad llamada MUJERES EMPRENDEDORAS con la que planea hacer grandes cosas en el futuro.
    .container-cards(data-aos="zoom-out")
      .card
        img.card-image(src="https://ak8.picdn.net/shutterstock/videos/4475048/thumb/1.jpg",alt="card-image")
        .detail-content
          strong.dark Organizadora
          p.light Excepteur sint occaecat cupidatat non proident, sunt in
      .card
        img.card-image(src="https://ak0.picdn.net/shutterstock/videos/17370640/thumb/1.jpg",alt="card-image")
        .detail-content
          strong.dark Comprometida
          p.light Excepteur sint occaecat cupidatat non proident, sunt in
      .card
        img.card-image(src="https://c0.wallpaperflare.com/preview/772/808/955/women-business-laptop-office.jpg",alt="card-image")
        .detail-content
          strong.dark Luchadora
          p.light Excepteur sint occaecat cupidatat non proident, sunt in
