extends ../templates/base

block title
   title About
block css
   link(rel="stylesheet", href="view/css/detail_about.css?v=1.1")
block content
  .container-about
    .container-detail
      .card-floating 
        .container-image
        .container-card-text
          .body-text
            strong.title Brunella Benavente
            p.text 
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, assumenda reiciendis fugiat ipsam doloremque sequi maiores eligendi repellat quia quas!
    .panel-detail(data-aos="zoom-in-up")
      .card-panel
        //img.image-about-panel(src="../assets/brunella_profile.jpg",alt="image")
        h2.title-card Quien Soy
        p.description
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, neque architecto saepe veniam possimus vero perspiciatis quas at laboriosam atque dolor in exercitationem accusantium repellat facilis facere? Facere, omnis, hic accusamus laboriosam praesentium dolores ducimus pariatur eligendi, non error laborum?
    .container-cards(data-aos="zoom-out")
      .card
        img.card-image(src="https://ak8.picdn.net/shutterstock/videos/4475048/thumb/1.jpg",alt="card-image")
        .detail-content
          strong.dark Lorem impsum dolor
          p.light Excepteur sint occaecat cupidatat non proident, sunt in
      .card
        img.card-image(src="https://ak0.picdn.net/shutterstock/videos/17370640/thumb/1.jpg",alt="card-image")
        .detail-content
          strong.dark Lorem impsum dolor
          p.light Excepteur sint occaecat cupidatat non proident, sunt in
      .card
        img.card-image(src="https://c0.wallpaperflare.com/preview/772/808/955/women-business-laptop-office.jpg",alt="card-image")
        .detail-content
          strong.dark Lorem impsum dolor
          p.light Excepteur sint occaecat cupidatat non proident, sunt in
