extends ../templates/base

block title
    title Blog

append css    
    link(rel="stylesheet", href=`view/css/detail_blog.css?v=${version}`)

block content 
    .section-blog
        .preview-blog-main 
            .image-minus
                //Content js
        .delimiter-title
            p Publicaciones
        .section-blog-published
                //Content js

append floating-content
    .loading
        .loader
    .publication-blog-expand
        .image
            img(src="", alt="")
            .icon#close-publication-blog
                i.fa.fa-times
            .icon.handleModal#active-modal-comment
                i.fa.fa-comment-dots
        .content-publication
            .data-description
                p.title
                p.content
            .content-extra
                p.title Comentarios
                .view-comments
                    //Comment (js ajax)
        .create-comment.animate#create-comment
            p.subtitle Create New Comment
            form.create
                .user
                    input(type="text" placeholder="User" maxlength="40" required name="username").input
                    input(type="email" placeholder="Email" maxlength="100" required name="email").input
                .message
                    textarea(name="text_comment" maxlength="400" placeholder="Comment" required).input.t-area
                .buttons
                    input#send-comment(type="submit", value="Send").input.sub
                    button#cancel-comment(type="button").input Close
