extends ../templates/base

block css
   link(rel="stylesheet", href=`view/css/detail_contact.css?v=${version}`)
block content
   .image-parallax
      p.title(data-aos="fade-up") Zona de <span>Contacto</span>
      p.text(data-aos="fade-up") Comuniquese directamente conmigo atravez de un sencillo formulario de contacto.
   include ../templates/aside