extends ../templates/base

block title
   title Eventos

block css
   link(rel="stylesheet", href="view/css/detail_events.css")

block content
   header.header-title
      h1.title Nuestros Eventos
   .body-events
      .content-events#content-events 
         //ajax