extends ../templates/base

block title
   title Eventos

append css
   link(rel="stylesheet", href="view/css/detail_events.css")

block content
   header.header-title#header-title
      h1.title Nuestros Eventos
   .body-events
      .content-events#content-events 
         //ajax

append floating-content
   .loading
      .loader