extends ../templates/base

block title
   title Homepage
append css
   link(rel="stylesheet", href=`view/css/detail_home.css?v=${version}`)
block content
   .content-slider
      .slider(data-aos="fade-right")
         .images
            img(src="https://cdn.pixabay.com/photo/2015/09/02/13/18/person-918986_960_720.jpg", alt="").img
            img(src="https://cdn.pixabay.com/photo/2017/10/05/13/42/job-interview-2819456_960_720.jpg", alt="").img
            img(src="https://cdn.pixabay.com/photo/2014/05/03/00/56/summerfield-336672_960_720.jpg", alt="").img
         .icons
            .circle.active
            .circle
            .circle
      .text(data-aos="fade-left")
         p.title-text ¡Coaching para todas!
         p.desc-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, quasi sint molestiae explicabo ratione facere accusantium tempore quo corporis, hic quae quidem ab eos nisi. Quis rerum dolores necessitatibus nisi debitis minima facere, excepturi, enim doloremque perferendis porro, eveniet odio?
         a(href="index.php?url=coaching").btn-global Ver mas
   #services
   .central-title(data-aos="fade-up")
      p.title Servicios
   .content-tools
      .card-tool(data-aos="zoom-in")
         .icon
            i.far.fa-smile-wink
         .desc
            p Coaching con PNL (Objetivos SMART) y Comunicación efectiva
      .card-tool(data-aos="zoom-in")
         .icon
            i.fa.fa-female
         .desc
            p Liderazgo visible y Gestión de amplios equipos
      .card-tool(data-aos="zoom-in")
         .icon
            i.fa.fa-globe
         .desc
            p Gestión por competencias: habilidades blandas
      .card-tool(data-aos="zoom-in")
         .icon
            i.fa.fa-building
         .desc
            p Empoderamiento en las diferentes areas de tu vida,trabajo y otros.
   .central-title(data-aos="fade-up")
      p.title Sobre MI
   .content-profile
      .desc(data-aos="zoom-in-up")
         p.title Brunella Benavente
         p.text Ingeniera de Minas y Construccion, estudio en la Universidad de ---------.Fue ------- y -------- en su puesto de trabajo. Actualmente ejerce su profesion con mucha devocion. Tambien posee actitudes muy profesionales y maduras , cosa que facilita trabajar con ella.
      .image(data-aos="zoom-in-up")
   .central-title(data-aos="fade-up")
      p.title Presentacion
   .content-video
      include ../components/video
   #galeria
   .central-title(data-aos="fade-up")
      p.title Galeria de Fotos
   .content-images
      .content
         each i in images
            .image(data-aos="zoom-in")
               img(src=i.link, alt="").img
               .icon
                  i.fa.fa-image
      .desc(data-aos="fade-up")
         p.message ¡Mire nuestros proximos eventos!
         a(href="index.php?url=events").link Click aqui
prepend footer-content
   include ../templates/aside.pug
append floating-content
   include ../components/views_image_expand