.comment {
    @include flex();
    margin-left: auto;
    padding: 1em ;
    width: 100%;
    @include flex(row,flex-start,center);
    .icon {
        padding-left: 1em;
        .container-icon {
            @include flex(row,center,center);
            width: 50px;
            height: 50px;
            border-radius: 100%;
            color: silver;
            background-color:lighten(#000, 90);
        }
    }
    .detail-comment {
        padding: 0 1.5em;
        .commenter-name {
            color:$color-base;
        }
        .text-comment {
            padding: 5px 0 0 0;
            line-height: 20px;
            font-size: .9em;
            color: rgb(60,60,60);
        }
        .comment-date{
            font-size: .7em;
            padding: 0;
            color: lighten($color: #000, $amount: 45);
        }
    }
    &:nth-child(2n){
        background: rgb(240,240,240);
    }
    @include responsive(650px){
        font-size: .9em;
        .icon{ padding-left: .5em; }
        .detail-comment{ padding: 0 1em; }
    }
}