.contact-form {
  max-width: 100%;
  background: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  @include responsive(600px) {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .row {
    margin: 5px;
    @include responsive(600px) {
      margin: 10px 0;
    }

    &.row-message{
      grid-column: span 2;
      @include responsive(600px) {
        grid-column: auto;
      }
    }
    .text-field {
      background: white;
      width: 100%;
      padding: 10px;
      border:1px solid rgba(100,100,100,.15);
      margin-bottom: 5px;
      font-size:.85em;
      transition: .3s;
      &:focus {
        border-color: rgba(230,60,90,.5);
        color: lighten($color-base,10);
      }
    }
    .validity-form {
      @include flex(row,none,center);
      width: 100%;
      .text-validity {
        color: $color-base;
        margin:0 10px;
      }
    }
    .button-send {
      margin-left: auto;
      padding: 0 1in;
      font-size: .9em;
      width: 100%;
      cursor: pointer;
      font-weight: bold;
    }
  }

}
